{% extends 'layout.html' %}
{% block body %}
<style>
    .intro-text {
        display: none;
    }

    #header {
        display: none;
    }
</style>


<script src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/download-feature.js') }}"></script>
<script src="{{ url_for('static', filename='js/bpo.js') }}"></script>
<script src="{{ url_for('static', filename='js/papaparse.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.0/jspdf.plugin.autotable.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<div class="">

    <div class="col-md-12" id="filtering">
        <div class="row">
            <div class="viz-title-container col-md-7 col-sm-12 col-xs-12">
                <span class="viz-title">The Bangladesh Peace Observatory</span>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 text-right viz-title-menu-container">
                <a class="viz-title-about" href="{{ url_for('main.index') }}"><i
                        class="fa fa-home " aria-hidden="true"></i> Home</a>
                <span class="viz-title-about">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a class="viz-title-about" href="{{ url_for('main.data_disclaimer') }}"><i
                        class="fa fa-exclamation-triangle" aria-hidden="true"></i> Data Disclaimer</a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="col-md-12">
                    <br/>
                    <input name='division-select' class="form-control update-chart empty" id="division-select" value=''
                           placeholder="Search insights for divisions, districts, upazilas">
                    <span class="fa fa-search search-icon"></span>
                </div>
            </div>
            <div class="col-md-2 col-xs-12">
                <div class="col-md-12">
                    <label class="filter-label" for="data-source-select" id="data-source-select-label">Choose data
                        source:</label>
                    <select class="form-control" id="data-source-select">
                        <option value="mgr">Print Media Review</option>
                        <option value="idams">Online Media Review</option>
                    </select>
                </div>

            </div>
            <div class="col-md-2 col-xs-12">
                <div class="col-md-12">
                    <label class="filter-label" for="violence-type-select">Violence Type:</label>
                    <select class="form-control update-chart" id="violence-type-select">
                        <option value="Destruction of property">Destruction of property</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="col-md-6">
                    <label class="filter-label" for="dt1">Start date:</label>
                    <input id="dt1" class="form-control update-chart"/><br/>
                </div>
                <div class="col-md-6">
                    <label class="filter-label" for="dt1">End date:</label>
                    <input id="dt2" class="form-control update-chart"/>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <div id="map" class="col-md-6">
        <span>Drill Down in the Map to See Results</span>
    </div>

    <div id="viz-container" class="col-md-6">
        <div class="violent-crimes-in">
            <div class="col-md-8 col-sm-9 col-xs-12 reported-violence-title">
                <span class="location-main-text">Reported violence in <span
                        class="location-name">the Country</span> </span>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 download-container">
                <button class="download download-button-viz" data-toggle="modal" data-target="#myModal"><i
                        class="fa fa-file-pdf-o download-icon" aria-hidden="true"></i><span
                        id="Story_Frame_Data_Download_Text">Download</span></button>
            </div>

        </div>

        <div id="division-rank" class="col-md-12 col-sm-12 col-xs-12">
            <span class="rank-section-title">Division ranked:</span>
            <div id="division-rank-accordion">
                <div class="division-overview-tab">
                    <div class="row rank-stats">
                        <div class="col-md-4">
                            <img class="viz-icon"
                                 src="{{ url_for('static', filename='assets/deaths_black_big.png') }}"/>
                            <span class="division-death-rank-nth">n/a</span>
                            <!--<img class="viz-icon-arrow"-->
                            <!--src="{{ url_for('static', filename='assets/down_arrow.png') }}"/>-->
                        </div>
                        <div class="col-md-4">
                            <img class="viz-icon"
                                 src="{{ url_for('static', filename='assets/injury_black_big.png') }}"/>
                            <span class="division-injury-rank-nth">n/a</span>
                            <!--<img class="viz-icon-arrow" src="{{ url_for('static', filename='assets/up_arrow.png') }}"/>-->
                        </div>
                        <div class="col-md-4">
                            <img class="viz-icon"
                                 src="{{ url_for('static', filename='assets/property_black_big.png') }}"/>
                            <span class="division-property-rank-nth">n/a</span>
                            <!--<img class="viz-icon-arrow"-->
                            <!--src="{{ url_for('static', filename='assets/down_arrow.png') }}"/>-->
                            <span class="caret"></span>
                        </div>

                    </div>


                </div>
                <div class="rank-text">
                    <div class='rank-text-row'>
                        <div class="icon-container">
                            <img class="viz-icon"
                                 src="{{ url_for('static', filename='assets/deaths_black_big.png') }}"/>
                        </div>
                        <span class="division-desc-death-rank-name"></span> ranked <span
                            class="division-desc-death-rank"></span> in deaths with <span
                            class="division-desc-death-rank-total"></span> deaths.
                    </div>
                    <br/>
                    <div class='rank-text-row'>
                        <div class="icon-container">
                            <img class="viz-icon"
                                 src="{{ url_for('static', filename='assets/injury_black_big.png') }}"/>
                        </div>
                        <span class="division-desc-injury-rank-name"></span> ranked <span
                            class="division-desc-injury-rank"></span> in injuries with <span
                            class="division-desc-injury-rank-total"></span> injuries.
                    </div>
                    <br/>
                    <div class='rank-text-row'>
                        <div class="icon-container">
                            <img class="viz-icon"
                                 src="{{ url_for('static', filename='assets/property_black_big.png') }}"/>
                        </div>
                        <span class="division-desc-property-rank-name"></span> ranked <span
                            class="division-desc-property-rank"></span> in property damage with <span
                            class="division-desc-property-rank-total"></span> property damages.
                        <i class="fa fa-caret-up rotate collapse-division-stats" aria-hidden="true"></i>
                    </div>
                    <br/>

                </div>

            </div>
        </div>

        <div id="national-overview" class="col-md-12 col-sm-12 col-xs-12">
            <span class="section-title">National Overview of Divisions:</span>
            <div id="national-accordion">
                <div class="division-overview-tab">
                    <div class="icon-container">
                        <img class="viz-icon" src="{{ url_for('static', filename='assets/deaths_black_big.png') }}"/>
                    </div>

                    <span class="rate-1"></span><span class="rate-text"></span> <span class="rate-1-text">has the highest fatality rate. </span>
                    <img class="rate-1-arrow viz-icon-arrow"
                         src="{{ url_for('static', filename='assets/up_arrow.png') }}"/>

                    <span class="caret"></span>
                </div>
                <div>
                    <div class="third-section-chart" id="third-section-first-chart">
                    </div>
                    <span class="third-section-first-chart-no-data">

                    </span>
                </div>
                <div class="division-overview-tab">
                    <div class="icon-container">
                        <img class="viz-icon" src="{{ url_for('static', filename='assets/injury_black_big.png') }}"/>
                    </div>
                    <span class="rate-2"></span><span class="rate-text"> </span> <span class="rate-2-text">has the highest injury count.</span>
                    <img class="rate-2-arrow viz-icon-arrow"
                         src="{{ url_for('static', filename='assets/up_arrow.png') }}"/>
                    <span class="caret"></span>
                </div>
                <div>
                    <div class="third-section-chart" id="third-section-second-chart">
                    </div>
                    <span class="third-section-second-chart-no-data">

                    </span>
                </div>
                <div class="division-overview-tab">
                    <div class="icon-container">
                        <img class="viz-icon" src="{{ url_for('static', filename='assets/property_black_big.png') }}"/>
                    </div>
                    <span class="rate-3"></span><span class="rate-text"></span> <span class="rate-3-text">has the highest property damage count.</span>
                    <img class="rate-3-arrow viz-icon-arrow"
                         src="{{ url_for('static', filename='assets/up_arrow.png') }}"/>
                    <span class="caret"></span>
                </div>
                <div>
                    <div class="third-section-chart" id="third-section-third-chart">
                    </div>
                    <span class="third-section-third-chart-no-data">

                    </span>
                </div>
            </div>
        </div>

        <script>
        </script>
        <div id="top" class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 top-3">
                <span class="section-title-top">Top 3 Reported Actors:</span>
                <ol id="perpetrators-list">
                </ol>
                <span class="perpetrators-list-not-enogh-data">
                    Not enough data.
                </span>
            </div>
            <div class="col-md-6 top-3">
                <span class="section-title-top">Top 3 Reported Casualties:</span>
                <ol id="casualties-list">
                </ol>
                <span class="casualties-list-not-enogh-data">
                    Not enough data.
                </span>
            </div>
            <div class="col-md-6 top-3">
                <span class="section-title-top">Top 3 Property Type Destruction:</span>
                <ol id="property-list">
                </ol>
                <span class="property-list-not-enogh-data">
                    Not enough data.
                </span>
            </div>
            <div class="col-md-6 top-3">
                <span class="section-title-top">Top 3 Motivations:</span>
                <ol id="motivations-list">
                </ol>
                <span class="motivations-list-not-enogh-data">
                    Not enough data.
                </span>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 census-information">
                <div class="col-md-12 census-info-container">
                    <span>Census Information for <span class="location-name">Bangladesh</span> (Census 2011)</span>
                </div>
                <div class="col-md-12 horizontal-line"></div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>General information</dt>
                        <dd></dd>
                    </dl>
                    <div class="horizontal-line"></div>
                    <dl class="dl-horizontal">
                        <dt>Population:</dt>
                        <dd class="population-data">n/a</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Poverty rate:</dt>
                        <dd class="poverty-data">n/a</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Religious diversity</dt>
                        <dd></dd>
                    </dl>
                    <div class="horizontal-line"></div>
                    <dl class="dl-horizontal">
                        <dt>Muslim:</dt>
                        <dd><span id="muslim-data">n/a</span>%</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Hindu:</dt>
                        <dd><span id="hindu-data">n/a</span>%</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Buddhist:</dt>
                        <dd><span id="buddhist-data">n/a</span>%</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Christian:</dt>
                        <dd><span id="christian-data">n/a</span>%</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Others:</dt>
                        <dd><span id="others-data">n/a</span>%</dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="">
    <div id="line-chart" class="col-md-12">
        <div class="col-md-8 col-sm-9 col-xs-12 human-economic-title">
            <span class="line-chart-title">Human and Economic Impact</span><br>
            <span class="line-chart-description">State of Violence in <span
                    class="location-name"> Bangladesh</span></span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 download-container-2">
            <button id="Human_and_Economic_Impact_Download"><i class="fa fa-file-pdf-o download-icon"
                                                               aria-hidden="true"></i><span
                    id="Human_and_Economic_Impact_Download_Text">Download</span></button>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="line-chart-container" data-highcharts-chart="8" style="">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='json/bangladesh.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='json/locations.js') }}"></script>

<div id='loadingmessage'>
    <img src='{{ url_for("static", filename="assets/loading.gif")}}'/>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <span class="modal-title location-main-text" id="myModalLabel">Reported violence in <span
                        class="location-name">the Country</span> </span>
            </div>
            <div class="modal-body">
                <div class="modal-section main-modal-section">
                    <div class='rank-text-row'>
                        <span class="first-violence-place"></span> ranked <span> 1st </span> in <span
                            class="location-type-in"></span> in violent crimes with <span
                            class="division-desc-death-rank-total"></span> incidents.
                    </div>
                    <div id="main-modal-chart">

                    </div>
                </div>

                <div class="modal-section other-modal-section">
                    <div class='rank-text-row'>
                        <div class="icon-container">
                            <img class="viz-icon"
                                 src="{{ url_for('static', filename='assets/deaths_black_big.png') }}"/>
                        </div>
                        <span class="first-modal-chart">
                            <span class="location-type"></span> ranked <span class="division-desc-death-rank"></span> in <span
                                class="location-type-in"></span> with <span
                                class="division-desc-death-rank-total"></span> deaths.
                        </span>
                    </div>
                    <div id="first-modal-chart">

                    </div>
                </div>
                <div class="modal-section  other-modal-section">
                    <div class='rank-text-row'>
                        <div class="icon-container">
                            <img class="viz-icon"
                                 src="{{ url_for('static', filename='assets/injury_black_big.png') }}"/>
                        </div>
                        <span class="second-modal-chart">
                            <span class="location-type"></span> ranked <span class="division-desc-injury-rank"></span> in <span
                                class="location-type-in"></span> with <span
                                class="division-desc-injury-rank-total"></span> injuries.
                        </span>
                    </div>
                    <div id="second-modal-chart">

                    </div>
                </div>

                <div class="modal-section  other-modal-section">
                    <div class='rank-text-row'>
                        <div class="icon-container">
                            <img class="viz-icon"
                                 src="{{ url_for('static', filename='assets/property_black_big.png') }}"/>
                        </div>
                        <span class="third-modal-chart">
                            <span class="location-type"></span> ranked <span class="division-desc-property-rank"></span> in <span
                                class="location-type-in"></span> with <span
                                class="division-desc-property-rank-total"></span> property
                        damages.
                        </span>
                    </div>
                    <div id="third-modal-chart">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-3 col-md-offset-2 col-xs-4 col-sm-4" style="font-size: 18px; color:white; padding-top:5px;">
                        <span>Download:</span>
                    </div>
                    <div class="col-md-2 col-xs-8 col-sm-8">
                        <button type="button" id="Story_Frame_PDF_Download" class="btn download-close"><i
                                class="fa fa-file-pdf-o download-icon" aria-hidden="true"></i>PDF
                        </button>
                    </div>
                    <div class="col-md-2 col-md-offset-1 col-xs-12 col-sm-12">
                        <button type="button" id="Story_Frame_Raw_Download" class="btn download-close"
                                data-dismiss="modal">
                            <iclass
                            ="fa fa-file-pdf-o download-icon" aria-hidden="true"></i>Raw Data
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}
