{% extends 'layout.html' %}
{% block body %}
<style>
    .container {
        display: none;
    }

    #mainNav {
        display: none;
    }
</style>
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<script src="../static/js/highcharts/highstock.min.js"></script>
<script src="../static/js/highcharts/map-module.min.js"></script>
<script src="../static/js/highcharts/exporting-module.min.js"></script>
<script src="../static/js/highcharts/bd-all.min.js"></script>
<script src="../static/js/highcharts/stock-exporting-module.min.js"></script>
<script src="../static/js/highcharts/map-drilldown-module.min.js"></script>
<script src="../static/js/geo-files/divisions.js"></script>
<script src="../static/js/geo-files/upazillas.js"></script>

<div class="row">
    <div class="col-md-12" id="filtering">
        <br/>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="col-md-6">
                    <label class="filter-label" for="division-select">Division</label>
                    <select class="form-control" id="division-select">
                        <option value="all">All</option>
                        <option value="Dhaka">Dhaka</option>
                        <option value="Sylhet">Sylhet</option>
                        <option value="Chittagong">Chittagong</option>
                        <option value="Barisal">Barisal</option>
                        <option value="Khulna">Khulna</option>
                        <option value="Rajshahi">Rajshahi</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="district-select-label" for="district-select">District</label>
                    <select class="form-control" id="district-select">
                        <option value="all">All</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <label class="filter-label" for="data-source-select">Data Source</label>
                <select class="form-control" id="data-source-select">
                    <option value="mgr">MGR</option>
                    <option value="idams" disabled>IDAMS</option>

                </select>
            </div>
            <div class="col-md-2 col-xs-6">
                <label class="filter-label" for="violence-type-select">Violence Type</label>
                <select class="form-control" id="violence-type-select">

                </select>
            </div>
            <div class="col-md-2 col-xs-6">
                <label class="filter-label" for="daterange">Time Period</label>
                <input type="text" class="form-control" name="daterange" value="ALL TIME"/>

            </div>
        </div>
        <br/>
    </div>
    <div id="map" class="col-md-6">
        MAP
    </div>
    <div id="viz-container" class="col-md-6">
        <div class="col-md-12">
            <span class="location-main-text">Violent Crimes in <span class="location-name">the Country</span></span>
        </div>

        <!--<div class="col-md-12">-->
        <!--<h3>National Ranked: <span class="national-ranked"></span>d</h3>-->
        <!--<div id="national-accordion">-->
        <!--<div>-->
        <!--<img class="viz-icon" src="{{ url_for('static', filename='assets/deaths_black_big.png') }}"/>-->
        <!--<span class="rate-1"></span> has the highest fatality rate.-->
        <!--<img class="viz-icon-arrow" src="{{ url_for('static', filename='assets/up_arrow.png') }}"/>-->
        <!--<span class="caret"></span>-->
        <!--</div>-->
        <!--<div>-->
        <!--<div>-->
        <!--<img class="viz-icon"-->
        <!--src="{{ url_for('static', filename='assets/deaths_black_big.png') }}"/>-->
        <!--<span class="rate-2"></span> has the highest fatality rate.-->
        <!--<img class="viz-icon-arrow" src="{{ url_for('static', filename='assets/up_arrow.png') }}"/>-->
        <!--<span class="caret"></span>-->
        <!--</div>-->
        <!--<div>-->
        <!--<img class="viz-icon"-->
        <!--src="{{ url_for('static', filename='assets/deaths_black_big.png') }}"/>-->
        <!--<span class="rate-3"></span> has the highest fatality rate.-->
        <!--<img class="viz-icon-arrow" src="{{ url_for('static', filename='assets/up_arrow.png') }}"/>-->
        <!--<span class="caret"></span>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->
        <!--</div>-->
        <div class="col-md-12">
            <span class="section-title">National Overview:</span>
            <div id="accordion">
                <div class="division-overview-tab">
                    <img class="viz-icon" src="{{ url_for('static', filename='assets/deaths_black_big.png') }}"/>
                    <span class="rate-1"></span> <span class="rate-1-text">has the highest fatality rate.</span>
                    <!--<img class="viz-icon-arrow" src="{{ url_for('static', filename='assets/up_arrow.png') }}"/>-->
                    <span class="caret"></span>
                </div>
                <div>
                    <div class="third-section-chart" id="third-section-first-chart">
                    </div>
                    <span class="third-section-first-chart-no-data">

                    </span>
                </div>
                <div class="division-overview-tab">
                    <img class="viz-icon" src="{{ url_for('static', filename='assets/injury_black_big.png') }}"/>
                    <span class="rate-2"></span> <span class="rate-2-text">has the highest injury count.</span>
                    <!--<img class="viz-icon-arrow" src="{{ url_for('static', filename='assets/up_arrow.png') }}"/>-->
                    <span class="caret"></span>
                </div>
                <div>
                    <div class="third-section-chart" id="third-section-second-chart">
                    </div>
                    <span class="third-section-second-chart-no-data">

                    </span>
                </div>
                <div class="division-overview-tab">
                    <img class="viz-icon" src="{{ url_for('static', filename='assets/property_black_big.png') }}"/>
                    <span class="rate-3"></span> <span class="rate-3-text">has the highest property damage count.</span>
                    <!--<img class="viz-icon-arrow" src="{{ url_for('static', filename='assets/up_arrow.png') }}"/>-->
                    <span class="caret"></span>
                </div>
                <div>
                    <div class="third-section-chart" id="third-section-third-chart">
                    </div>
                    <span class="third-section-third-chart-no-data">

                    </span>
                </div>
            </div>
        </div>
        <script>
            $("#accordion").accordion({
                collapsible: true, active: false,
                autoHeight: true
            });
        </script>
        <div id="top" class="col-md-12">
            <div class="col-md-6 top-3">
                <span class="section-title-top-perpetrators">Top 3 Reported Perpetrators</span>
                <ol id="perpetrators-list">
                </ol>
                <span class="perpetrators-list-not-enogh-data">
                    Not enough data.
                </span>
            </div>
            <div class="col-md-6 top-3">
                <span class="section-title-top-casualties">Top 3 Reported Casualties</span>
                <ol id="casualties-list">
                </ol>
                <span class="casualties-list-not-enogh-data">
                    Not enough data.
                </span>
            </div>
            <div class="col-md-6 top-3">
                <span class="section-title-top-property">Top 3 Property Type Destruction</span>
                <ol id="property-list">
                </ol>
                <span class="property-list-not-enogh-data">
                    Not enough data.
                </span>
            </div>
        </div>
        <!--<div class="row">-->
        <!--<div class="col-md-12 census-information">-->
        <!--<span class="section-title">Census Information for Barisal Division<span-->
        <!--class="caret"></span></span>-->
        <!--<div class="col-md-6">-->
        <!--<dl class="dl-horizontal">-->
        <!--<dt>Population</dt>-->
        <!--<dd>149,112,243</dd>-->
        <!--</dl>-->
        <!--<dl class="dl-horizontal">-->
        <!--<dt>Population</dt>-->
        <!--<dd>149,112,243</dd>-->
        <!--</dl>-->
        <!--<dl class="dl-horizontal">-->
        <!--<dt>Population</dt>-->
        <!--<dd>149,112,243</dd>-->
        <!--</dl>-->
        <!--<dl class="dl-horizontal">-->
        <!--<dt>Population</dt>-->
        <!--<dd>149,112,243</dd>-->
        <!--</dl>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
        <!--<dl class="dl-horizontal">-->
        <!--<dt>Population</dt>-->
        <!--<dd>149,112,243</dd>-->
        <!--</dl>-->
        <!--<dl class="dl-horizontal">-->
        <!--<dt>Population</dt>-->
        <!--<dd>149,112,243</dd>-->
        <!--</dl>-->
        <!--<dl class="dl-horizontal">-->
        <!--<dt>Population</dt>-->
        <!--<dd>149,112,243</dd>-->
        <!--</dl>-->
        <!--<dl class="dl-horizontal">-->
        <!--<dt>Population</dt>-->
        <!--<dd>149,112,243</dd>-->
        <!--</dl>-->
        <!--</div>-->

        <!--</div>-->
        <!--</div>-->

    </div>

</div>

<div class="row">
    <div id="line-chart" class="col-md-12">
        <h3>Human and Economic Impact</h3>
        <h4>State of Violence in Barisal Division</h4>
        <div style="width:100%; height:200px;" id="line-chart-container">

        </div>
    </div>

</div>
<script type="text/javascript" src="{{ url_for('static', filename='json/bangladesh.js') }}"></script>
<script>
    $(document).ready(function () {
        jQuery.ajaxSetup({async: false});

        populateLocationDropdown();
        // Init and build the violence type dropdown list
        buildViolenceTypeDropDown();

        // Build the date range input so we can select FROM - TO daterange
        buildDateRangeInput();

        // Init and build the map
        buildMap();

        // Init and create the bottom line chart
        createLineChart();

        // Init the right death,injuries,property charts
        initCharts();

        // Init and build the national data, so when the user first lands on the page we have some data.
        buildNationalData();


        // Initialize the right accordions
        $("#national-accordion").accordion({
            collapsible: true, active: false
        });

        // Listen when we select a violence type, update the charts/data reflecting the selected violence type
        $("#violence-type-select").change(function () {
            updateViz(undefined, false);
        })

        // Listen when we select a date range, update the charts/data reflecting the selected date range
        $('input[name=daterange]').change(function () {
            updateViz(undefined, false);
        });

    });
    function populateLocationDropdown() {
        // Listen when we change the division/Update the visualizer reflecting the selected division data
        $('#division-select').change(function () {
            $('#district-select').css('display', 'block');
            var district_select = $('#district-select');

            var selected_division = $(this).val();
            $('#district-select').empty();
            district_select.append($("<option />").val('all').text('All'));
            $.each(locations_list[selected_division].items, function (item) {
                var name = capitalize(locations_list[selected_division].items[item].name.toLowerCase());
                district_select.append($("<option />").val(name).text(name));
            });
            updateViz(selected_division, true);
        });
        $('#district-select').change(function () {
            console.log(locations_list);
            selected_district = $(this).val();
            updateViz(selected_district, true);
        })


    }
    function initCharts() {
        var width= $("#third-section-first-chart").width();
        Highcharts.chart('third-section-first-chart', {
            chart: {
                renderTo: 'chart',
                type: 'column',
                margin: 60,
                height: 180,
                defaultSeriesType: 'areaspline'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                position: 'right',
                title: {
                    text: 'Number'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: "Deaths",
                data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

            }]
        });
        Highcharts.chart('third-section-second-chart', {
            chart: {
                renderTo: 'chart',
                type: 'column',
                margin: 60,
                height: 200,
                defaultSeriesType: 'areaspline'

            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                position: 'right',
                title: {
                    text: 'Number'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Injuries',
                data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

            }]
        });
        Highcharts.chart('third-section-third-chart', {
            chart: {
                renderTo: 'chart',
                type: 'column',
                margin: 60,
                height: 200,
                defaultSeriesType: 'areaspline'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                position: 'right',
                title: {
                    text: 'Number'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Property damage',
                data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

            }]
        });

    }
    function buildNationalData() {
        var rank_data;

        var the_map = $('#map').highcharts();
        level_number = 0;
        // Get the drilldown level number
        if ($(the_map)[0].drilldownLevels != undefined) {
            var level_number = $(the_map)[0].drilldownLevels.length;
        }

        // Get request for the ranking data
        $.get('{{ url_for("api.get_rank", type="division")}}', function (data) {
            rank_data = data;
        });

        $('.national-ranked').parent().css("display", "none");

        // Set the highest rates
        var top_death_location = getTopN(rank_data, 'death', 1)[0].name;
        var top_injury_location = getTopN(rank_data, 'injury', 1)[0].name;
        var top_property_damage_location = getTopN(rank_data, 'property', 1)[0].name;
        $('.rate-1').html(top_death_location);
        $('.rate-2').html(top_injury_location);
        $('.rate-3').html(top_property_damage_location);

        // Change third-section-first-chart values
        var third_section_first_chart = $('#third-section-first-chart').highcharts();
        var third_section_first_chart_data = [];
        var url_for_chart_get_results_death = "{{ url_for('api.monthly_incidents', name='name', level=00)}}".replace('name', top_death_location).replace(0, level_number);
        $.get(url_for_chart_get_results_death, function (data) {
            $.each(data.incidents, function (item) {
                third_section_first_chart_data[item] = data.incidents[item].death;
            });
        });
        third_section_first_chart.series[0].setData(third_section_first_chart_data);

        // Change third-section-second-chart values
        var third_section_second_chart = $('#third-section-second-chart').highcharts();
        var third_section_second_chart_data = [];
        var url_for_chart_get_results_injury = "{{ url_for('api.monthly_incidents', name='name', level=00)}}".replace('name', top_injury_location).replace(0, level_number);
        $.get(url_for_chart_get_results_injury, function (data) {
            $.each(data.incidents, function (item) {
                third_section_second_chart_data[item] = data.incidents[item].injuries;
            });
        });
        third_section_second_chart.series[0].setData(third_section_second_chart_data);

        // Change third-section-third-chart values
        var url_for_chart_get_results_property = "{{ url_for('api.monthly_incidents', name='name', level=00)}}".replace('name', top_property_damage_location).replace(0, level_number);
        var third_section_third_chart = $('#third-section-third-chart').highcharts();
        var third_section_third_chart_data = [];
        $.get(url_for_chart_get_results_property, function (data) {
            $.each(data.incidents, function (item) {
                third_section_third_chart_data[item] = data.incidents[item].property;
            });
        });
        third_section_third_chart.series[0].setData(third_section_third_chart_data);

        updateTop3Section('Bangladesh', 0, $("#violence-type-select").val().replace('/','-'))
    }
    function createLineChart() {

        var seriesOptions = [],
                seriesCounter = 0,
                names = ['MSFT', 'AAPL', 'GOOG'];

        /**
         * Create the chart when all data is loaded
         * @returns {undefined}
         */

        Highcharts.stockChart('line-chart-container', {

            rangeSelector: {
                selected: 4
            },

            yAxis: {
                labels: {
                    formatter: function () {
                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 2,
                    color: 'silver'
                }]
            },

            plotOptions: {
                series: {
                    compare: 'percent',
                    showInNavigator: true
                }
            },

            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                valueDecimals: 2,
                split: true
            },

            series: seriesOptions
        });
    }
    function buildDateRangeInput() {
        // Add daterange jquery functionality
        $('input[name="daterange"]').daterangepicker({
            "dateLimit": {
                "months": 3
            },
        });
        $('input[name="daterange"]').attr('disabled',true);
    }
    function buildMap() {
        var map_data = buildDataSeries();
        /*
         TODO:
         - Check data labels after drilling. Label rank? New positions?
         - Not US Mainland text
         - Separators
         */
        var mapData = Highcharts.maps['countries/bd/bd-all'],
                myData = Highcharts.geojson(Highcharts.maps['countries/bd/bd-all']),
                tempSeries,
                // Some responsiveness
                small = $('#map').width() < 400;

        // Set drilldown pointers
        $.each(myData, function (i) {
            this['hc-key'] = this.properties['hc-key'];
            this.drilldown = this.properties['name'];
            if (map_data['division'][this.name] != undefined) {
                this.value = map_data['division'][this.name];
            } else {
                this.value = null;
            }
            this.level = 1;
        });

        // Instanciate the map
        $('#map').highcharts('Map', {
            chart: {
                events: {
                    drilldown: function (e) {
                        var map_key;
                        var drilldown_level = e.point.level;
                        if (drilldown_level == 1) {
                            map_key = 'countries/bd/bd-districts-all';
                        } else if (drilldown_level == 2) {
                            map_key = 'countries/bd/bd-upazillas-all';
                        }
                        var chart = this;
                        var name = e.point.name;
                        // Font Awesome spinner

                        // Load the drilldown map

                        var data = Highcharts.maps[map_key];
                        var drillMyData = Highcharts.geojson(data);
                        var drilldown_data = [];
                        // Set a non-random bogus value

                        $.each(drillMyData, function (i) {
                            if (drilldown_level == 1) {
                                if (this.properties['Division'] == name) {
                                    this['hc-key'] = "bd-" + this.properties['District'].substr(0, 2).toLowerCase();
                                    this.name = this.properties['District'];
                                    if (map_data['district'][this.name] != undefined) {
                                        this.value = map_data['district'][this.name];
                                    } else {
                                        this.value = null;
                                    }
                                    this.drilldown = this.properties.District;
                                    this.level = 2;
                                    drilldown_data.push(this);
                                }
                            } else if (drilldown_level == 2) {
                                if (this.properties.District == name) {
                                    this['hc-key'] = "bd-" + this.properties['Upazila'].substr(0, 2).toLowerCase();
                                    this.name = this.properties['Upazila'];
                                    if (map_data['upazilla'][this.name] != undefined) {
                                        this.value = map_data['upazilla'][this.name];
                                    } else {
                                        this.value = null;
                                    }
                                    this.level = 3;
                                    drilldown_data.push(this);
                                }
                            }
                        });

                        chart.addSeriesAsDrilldown(e.point, {
                            name: e.point.name,
                            data: drilldown_data.slice(0, drillMyData.length),
                            joinBy: 'hc-key',
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}'
                            }
                        });
                        // Hide loading and add series
                        chart.hideLoading();


                        this.setTitle(null, {text: e.point.name});
                    },
                    drillup: function (e) {
                        updateViz(e.seriesOptions.name, false);
//                                console.log(this.options.series[0].name);
//                                console.log(this.options.series[0].data[0].name);
                    }
                }
            },

            title: {
                text: 'Highcharts Map Drilldown'
            },

            subtitle: {
                text: '',
                floating: true,
                align: 'right',
                y: 50,
                style: {
                    fontSize: '16px'
                }
            },

            legend: small ? {} : {
                title: {
                    text: "No of Incidents"
                },
                itemStyle: {
                    fontSize: '10px'
                },
                layout: 'vertical',
                borderColor: "gray",
                borderWidth: 1,
                align: 'right',
                verticalAlign: 'top',
                y: 70,
                labelFormatter: function () {
                    if (this.from === undefined) {
                        return 'Below ' + this.to;
                    }

                    if (this.to === undefined) {
                        return 'Above ' + this.from;
                    }

                    return this.from + ' to ' + this.to;
                }
            },

            colorAxis: {
                dataClasses: [{
                    to: 100,
                    color: "#a3dbb9"
                }, {
                    from: 101,
                    to: 500,
                    color: "#fbfa20"
                }, {
                    from: 501,
                    to: 1000,
                    color: "#f8c733"
                }, {
                    from: 1001,
                    to: 1500,
                    color: "#feb126"
                }, {
                    from: 1501,
                    to: 2000,
                    color: "#f7802d"
                }, {
                    from: 2001,
                    color: "#fe363c"
                }]
            },

            mapNavigation: {
                enableMouseWheelZoom: false,
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },

            plotOptions: {
                map: {
                    states: {
                        hover: {
                            color: '#a1a1a1'
                        }
                    }
                },
                series: {
                    point: {
                        events: {
                            click: function (i) {
                                if (i.target.className.baseVal.split(' ')[1] != undefined) {
                                    var clicked_point = capitalize(i.target.className.baseVal.split(' ')[1].split('-')[2]);
                                    $('#division-select [value="' + clicked_point + '"]').attr('selected', true);
                                    updateViz(clicked_point, false);
                                } else {
                                    var clicked_point = $(i.target)[0].textContent;
                                    $('#division-select [value="' + clicked_point + '"]').attr('selected', true);
                                    updateViz(clicked_point, false);
                                }
                            }
                        }
                    }
                }
            },

            series: [{
                data: myData,
                mapData: mapData,
                joinBy: 'name',
                name: 'Bangladesh',
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                },

            }],

            drilldown: {
                //series: drilldownSeries,
                activeDataLabelStyle: {
                    color: '#FFFFFF',
                    textDecoration: 'none',
                    textShadow: '0 0 3px #000000'
                },
                drillUpButton: {
                    relativeTo: 'spacingBox',
                    position: {
                        x: 0,
                        y: 30
                    }
                }
            }
        });

    }
    function updateViz(name, from_selection) {

        var violence_type = $("#violence-type-select").val().replace('/','-');


        // Get the map instance
        var the_map = $('#map').highcharts();

        // Get the drilldown level number
        level_number = 0;
        if ('drilldownLevels' in $('#map').highcharts()) {
            var level_number = $('#map').highcharts().drilldownLevels.length;
        }
        if (name == undefined) {
            name = $('#map').highcharts().series[0].name;
        }
        if (name == 'Bangladesh') {
            buildNationalData();
        } else {

            // If we change the name in the location input
            if (from_selection == true) {
                if (level_number == 2) {
                    $('.highcharts-drillup-button').click();
                }
                var map_data_ = $('#map').highcharts().series[0].data;
                $.each(map_data_, function (index) {
                    if (map_data_[index]['name'] == name) {
                        map_data_[index].doDrilldown();
                    }
                });
            }

            updateTextValues(name, level_number, violence_type);
            updateCharts(name, level_number, violence_type)
            updateTop3Section(name, level_number, violence_type);
        }


    }
    function updateTextValues(name, level_number, violence_type) {
        //Instantiate rank_data array
        var rank_data = [];
        var rank_api_url = '{{ url_for("api.get_results", name="name", level=0, violence_type="violence-type")}}';
        rank_api_url = rank_api_url.replace('name', name).replace(0, level_number).replace('violence-type', violence_type);

        // Get request for the ranking data
        $.get(rank_api_url, function (data) {
            rank_data = data;
        });

        // Fill values of the right visualizer
        $.each(rank_data, function (item) {
            if (rank_data[item]['name'] == name) {
                $('.national-ranked').html(rank_data[item]['rank']);
            }
        });
        // Set the highest rates

        // Get top death location name
        death_top_rank_data = getTopN(rank_data, 'death', 1);
        var top_death_location = "";
        if (death_top_rank_data.length != 0) {
            $('.rate-1-text').html('has the highest fatality rate.')

            $('#accordion .rate-1').parent().removeClass("ui-state-disabled");
            top_death_location = death_top_rank_data[0].name;
            $('.rate-1').html(top_death_location);
        } else {
            $('.rate-1').html("");
            $('#'+$('#accordion .rate-1').parent().id).collapse()
            $('.rate-1-text').html('Not enough data');
            $('#accordion .rate-1').parent().addClass("ui-state-disabled");
        }

        // Get top injury location name
        injury_top_rank_data = getTopN(rank_data, 'injury', 1)
        var top_injury_location = "";
        if (injury_top_rank_data.length != 0) {
            $('.rate-2-text').html('has the highest injury count.');
            $('#accordion .rate-2').parent().removeClass("ui-state-disabled");
            top_injury_location = injury_top_rank_data[0].name;
            $('.rate-2').html(top_injury_location);
        } else {
            $('.rate-2').html("");
            $('#accordion .rate-2').parent().attr("aria-expanded",false);
            $('.rate-2-text').html('Not enough data');
            $('#accordion .rate-2').parent().addClass("ui-state-disabled");
        }

        // Get top property damage location name
        property_top_rank_data = getTopN(rank_data, 'property', 1);
        var top_property_damage_location = "";
        if (property_top_rank_data.length != 0) {
            $('.rate-3-text').html('has the highest property damage count.');
            $('#accordion .rate-3').parent().removeClass("ui-state-disabled");
            top_property_damage_location = property_top_rank_data[0].name;
            $('.rate-3').html(top_property_damage_location);
        } else {
            $('.rate-3').html("");
            $('#accordion .rate-3').parent().attr("aria-expanded",false);
            $('.rate-3-text').html('Not enough data');
            $('#accordion .rate-3').parent().addClass("ui-state-disabled");
        }

        $('.location-name').html(name);

        // Change the presentation text based on the level
        if (level_number == 0) {
            $('.section-title').text('National Overview');
        }
        else if (level_number == 1) {
            $('.section-title').text('Division Overview');
        }
        else {
            $('.section-title').text('District Overview');
        }
    }
    function updateCharts(name, level_number, violence_type) {

        var url_for_chart_get_results = "{{ url_for('api.monthly_incidents', name='name', level=00, violence_type='violence-type')}}".replace('name', name).replace(0, level_number).replace('violence-type', violence_type);
        $.get(url_for_chart_get_results, function (data) {

            // Update third-section-first-chart values
            var third_section_first_chart = $('#third-section-first-chart').highcharts();
            var third_section_first_chart_data = Array.apply(null, Array(12)).map(Number.prototype.valueOf, 0);
            $.each(data.incidents, function (item) {
                if (data.incidents[item].death != 0) {
                    third_section_first_chart_data[parseInt(data.incidents[item].month) - 1] = data.incidents[item].death;
                }

            });
            console.log(third_section_first_chart_data.reduce(add, 0));
            console.log(third_section_first_chart_data);
            if (third_section_first_chart_data.reduce(add, 0) != 0) {
                $('#accordion .rate-1').parent().removeClass("ui-state-disabled");
                third_section_first_chart.series[0].setData(third_section_first_chart_data);
                $('.rate-1-text .not-enough-data-for-chart-rate-1').remove();
            } else {
                $('#accordion .rate-1').parent().addClass("ui-state-disabled");
                $('.rate-1-text').append('<span style="color:red;" class"not-enough-data-for-chart-rate-1"> (Not enough data to display chart.)</span>')
            }
            // Update third-section-second-chart values
            var third_section_second_chart = $('#third-section-second-chart').highcharts();
            var third_section_second_chart_data = Array.apply(null, Array(12)).map(Number.prototype.valueOf, 0);
            $.each(data.incidents, function (item) {
                third_section_second_chart_data[parseInt(data.incidents[item].month) - 1] = data.incidents[item].injuries;
            });

            if (third_section_second_chart_data.reduce(add, 0) != 0) {
                $('#accordion .rate-2').parent().removeClass("ui-state-disabled");
                third_section_second_chart.series[0].setData(third_section_second_chart_data);
                $('.rate-2-text .not-enough-data-for-chart-rate-2').remove();
            } else {
                $('#accordion .rate-2').parent().addClass("ui-state-disabled");
                $('.rate-2-text').append('<span style="color:red;" class"not-enough-data-for-chart-rate-2"> (Not enough data to display chart.)</span>')

            }


            // Update third-section-third-chart values
            var third_section_third_chart = $('#third-section-third-chart').highcharts();
            var third_section_third_chart_data = Array.apply(null, Array(12)).map(Number.prototype.valueOf, 0);

            $.each(data.incidents, function (item) {
                third_section_third_chart_data[parseInt(data.incidents[item].month) - 1] = data.incidents[item].property;
            });
            if (third_section_third_chart_data.reduce(add, 0) != 0) {
                $('#accordion .rate-3').parent().removeClass("ui-state-disabled");
                third_section_third_chart.series[0].setData(third_section_third_chart_data);
                $('.rate-3-text .not-enough-data-for-chart-rate-3').remove();
            } else {
                $('#accordion .rate-3').parent().addClass("ui-state-disabled");
                $('.rate-3-text').append('<span style="color:red;" class"not-enough-data-for-chart-rate-3"> (Not enough data to display chart.)</span>')
            }
        });


    }
    function updateTop3Section(name, level_number, violence_type) {
        // Update the Top 3 values
        var top_3_data = "{{ url_for('api.get_top', name='name', level=00, violence_type='violence-type')}}".replace('name', name).replace(0, level_number).replace('violence-type', violence_type);

        $.get(top_3_data, function (data) {

            if (data.perpetrator.length != 0) {
                var perpetrators = [];
                $('#perpetrators-list').css('display', '');
                $('.perpetrators-list-not-enogh-data').css('display', 'none');
                $.each(data.perpetrator, function (i, item) {
                    perpetrators.push('<li>' + item['perpetrator'] + '</li>');

                });  // close each()

                // Clear list and populate
                $('#perpetrators-list li').remove();
                $('#perpetrators-list').append(perpetrators.join(''));
            } else {
                $('#perpetrators-list').css('display', 'none');
                $('.perpetrators-list-not-enogh-data').css('display', 'block');
            }

            if (data.casualties.length != 0) {
                $('#casualties-list').css('display', '');
                $('.casualties-list-not-enogh-data').css('display', 'none');
                var casualties = [];
                $.each(data.casualties, function (i, item) {
                    casualties.push('<li>' + item['casualty'] + '</li>');
                });  // close each()

                // Clear list and populate
                $('#casualties-list li').remove();
                $('#casualties-list').append(casualties.join(''));
            } else {
                $('#casualties-list').css('display', 'none');
                $('.casualties-list-not-enogh-data').css('display', 'block');
            }

            if (data.property.length != 0) {
                $('#property-list').css('display', '');
                $('.property-list-not-enogh-data').css('display', 'none');
                var property = [];
                $.each(data.property, function (i, item) {
                    property.push('<li>' + item['property'] + '</li>');
                });  // close each()

                // Clear list and populate
                $('#property-list li').remove();
                $('#property-list').append(property.join(''));
            } else {
                $('#property-list').css('display', 'none');
                $('.property-list-not-enogh-data').css('display', 'block');
            }

        });
    }
    function getTopN(arr, prop, n) {
        // clone before sorting, to preserve the original array
        var clone = arr.slice(0);

        // sort descending
        clone.sort(function (x, y) {
            if (x[prop] == y[prop]) return 0;
            else if (parseInt(x[prop]) < parseInt(y[prop])) return 1;
            else return -1;
        });

        return clone.slice(0, n || 1);
    }
    function add(a, b) {
        return a + b;
    }
    function buildViolenceTypeDropDown() {
        // Get violence dropdown options instance
        var violence_options = $("#violence-type-select");
//        violence_options.append($("<option />").val('all').text('All'));
        // Get request to get the violence types
        $.get('{{ url_for("api.get_violence_types", dataset="mgr")}}', function (data) {
            $.each(data, function (item) {
                violence_options.append($("<option />").val(data[item]).text(data[item]));
            });
        });
    }
    function capitalize(s) {
        return s[0].toUpperCase() + s.slice(1);
    }
    function buildDataSeries(url) {
        var json_data = {};
        var divisions = {};
        var districts = {};
        var upazillas = {};

        $.get("{{ url_for('api.get_victims', type='division')}}", function (data) {
            for (var item in data) {
                divisions[data[item]['division'].toString()] = data[item]["incidents"]
            }
        });
        $.get("{{ url_for('api.get_victims', type='district')}}", function (data) {
            for (var item in data) {
                districts[data[item]['district'].toString()] = data[item]["incidents"]
            }
        });
        $.get("{{ url_for('api.get_victims', type='upazilla')}}", function (data) {
            for (var item in data) {
                upazillas[data[item]['upazilla']] = data[item]["incidents"]
            }
        });
        json_data['division'] = divisions;
        json_data['district'] = districts;
        json_data['upazilla'] = upazillas;
        return json_data;
    }
</script>
{% endblock %}