{% extends 'layout.html' %}
{% block body %}
    <!-- The Challenge and Response -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h1 class="section-heading5">The Challenge</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div class="col-md-3 col-xs-4">
                        <img src="static/assets/about_graphic01.png" alt="Mountain View" class="img-responsive">
                    </div>
                    <div class="col-md-8">
                        <p class="lead2">Designing effective responses to public policy challenges is heavily
                            dependent on evidence. Evidence is dependent on good data.
                            In the present day "Open Data" is the future. More data has been produced globally
                            in
                            the last two years than in the previous 3000 years of human activity.
                            Most of this data is openly accessible. Therefore, the future challenge for
                            decision-makes is no finding data: the challenge is efficiently managing and
                            digesting
                            the explosion of public data. Bangladesh is no exception.
                        </p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h1 class="col-md-6 col-md-offset-4 section-heading5">The Response</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div class="col-md-3 col-xs-4 col-md-offset-1">
                        <img src="static/assets/about_graphic02.png" alt="Mountain View" class="img-responsive"
                        >
                    </div>
                    <div class="col-md-8">
                        <p class="lead3">The Bangladesh Peace Observatory is a response to the challenge. The
                            Bangladesh Peace Observatory is a research facility housed at the Center for
                            Genocide Studies at the University of Dhaka, which seeks to harness the power of
                            Open Data to advance knowledge and understanding of peace and development in the
                            country. The Observatory will focus on the pressing and interconnected issues of the
                            youth bulge, violence prevention, and social cohesion.
                        </p>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- The Bangladesh Peace Observatory Platform -->
    <section id="portfolio" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-heading1 text-center">The Bangladesh
                        Peace Observatory Platform</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <hr class="test">
                    <div class="col-lg-9  col-md-8 col-xs-7">
                        <p class="lead1">The Bangladesh Peace Observatory is a virtual platform equipped with
                            mapping
                            and data analytics technology that informs users on the state of violence – political,
                            ethnic, communal, criminal, gender-based, as well as extremist – and other forms of
                            discord
                            in terms of time, space and themes.
                        </p>
                        <br><br><br>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-4">
                        <br>
                        <div class="clearfix"></div>
                        <img class="img-responsive" src="static/assets/about_graphic03.png"
                             alt="Mountain View">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div class="col-md-2 col-xs-4">
                        <br>
                        <div class="clearfix"></div>
                        <img class="img-responsive" src="static/assets/about_graphic04.png"
                             alt="Mountain View">
                    </div>
                    <div class=" col-md-8 col-lg-9 col-xs-8">
                        <hr class="test1">
                        <p class="lead4">The Bangladesh Peace Observatory brings together different
                            streams
                            of publically available data, analyses and visualizes them in a useful and interactive
                            way
                            for decision makers, civil society and media to understand, consume, and debate.
                        </p>
                        <br><br><br>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <hr class="test">
                    <div class="col-lg-9  col-md-8 col-xs-7">
                        <p class="lead1">The Bangladesh Peace Observatory seeks to support a wide range of actors in
                            making better public policy decisions, tailored interventions and programming, enhanced
                            research, and effective advocacy campaigning for social cohesion and peace development
                            based
                            on evidence and data.
                        </p>
                        <br><br><br>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-4">
                        <br>
                        <div class="clearfix"></div>

                        <img class="img-responsive" src="static/assets/about_graphic05.png"
                             alt="Mountain View">
                    </div>
                </div>
            </div>

            <!-- /.container -->
        </div>
    </section>
    <!-- Advisory Board -->

    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2 class="section-heading2">Advisory Board</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 col-sm-3 col-xs-3">

                        <img class="img-responsive" src="static/assets/logo_SVC.png"
                             alt="Logo_SVC"
                        >

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">

                        <img class="img-responsive" src="static/assets/logo_police.png"
                             alt="Logo_Police">

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">

                        <img class="img-responsive" src="static/assets/logo_mgr.png"
                             alt="Logo_mgr">

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">

                        <img class="img-responsive" src="static/assets/logo_lamp.png"
                             alt="LOgo_lamp">

                    </div>
                </div>
            </div>
            <div class="row" style="    padding-top: 30px;
    padding-bottom: 30px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-xs-6 col-sm-6">

                        <img class="img-responsive" src="static/assets/logo_actionaid.png"
                             alt="Logo_actionaid">
                        {#                        </a>#}
                    </div>
                    <div class="col-md-6 col-xs-6 col-sm-6">

                        <img class="img-responsive" src="static/assets/logo_star.png"
                             alt="Logo_star">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 col-sm-3 col-xs-3">

                        <img class="img-responsive" src="static/assets/logo_CGS.png"
                             alt="Logo_CGS">

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">

                        <img class="img-responsive" src="static/assets/logo_SEHD.png"
                             alt="Logo_SEHD" style="

    position: absolute;

    left: 0;

    vertical-align: middle;

    padding-top: 10%;">

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">

                        <img class="img-responsive" src="static/assets/logo_MCCI.png"
                             alt="Logo_MCCI" style="line-height: 200px;
    position: absolute;

    left: 0;

    ">

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">

                        <img class="img-responsive" src="static/assets/logo_DhakaUni.png"
                             alt="logo_DhakaUni">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}