{% extends 'layout.html' %}
{% block body %}



    <!-- The Challenge and Response -->

    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">


                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h1 class="section-heading">The Challenge</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="col-md-3">
                                <img src="static/assets/about_graphic01.png" alt="Mountain View" class="logo1"
                                >
                            </div>
                            <div class="col-md-8">
                                <p class="lead2">Designing effective responses to public policy challenges is heavily
                                    dependent on evidence. Evidence is dependent on good data.
                                    In the present day "Open Data" is the future. More data has been produced globally
                                    in
                                    the last two years than in the previous 3000 years of human activity.
                                    Most of this data is openly accessible. Therefore, the future challenge for
                                    decision-makes is no finding data: the challenge is efficiently managing and
                                    digesting
                                    the explosion of public data. Bangladesh is no exception.</p><br>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

            <div class="row">


                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h1 class="section-heading">The Response</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="col-md-4">
                                {#                                <img src="static/assets/about_graphic01.png" alt="Mountain View" class="logo2"#}
                                {#                                >#}
                            </div>
                            <div class="col-md-8">
                                <p class="lead3">The Bangladesh Peace Observatory is a response to the challenge. The
                                    Bangladesh Peace Observatory is a research facility housed at the Center for
                                    Genocide Studies at the University of Dhaka, which seeks to harness thre power of
                                    Open Data to advance knowledge and understanding of peace and development in the
                                    country. The Observatory will focus on the pressing and interconnected issues of the
                                    youth bulge, violence prevention, and social cohesion..</p><br><br><br>
                            </div>
                        </div>
                    </div>


                </div>

            </div>


            {#            <div class="row">#}
            {#                <div class="col-lg-4 col-sm-6">#}
            {#                </div>#}
            {#                <div class="col-lg-8 col-sm-6">#}
            {#                    <h1 class="section-heading">The Response</h1>#}
            {#                    <p class="lead2">Designing effective responses to public policy challenges is heavily#}
            {#                        dependent on evidence. Evidence is dependent on good data.#}
            {#                        In the present day "Open Data" is the future. More data has been produced globally in#}
            {#                        the last two years than in the previous 3000 years of human activity.#}
            {#                        Most of this data is openly accessible. Therefore, the future challenge for#}
            {#                        decision-makes is no finding data: the challenge is efficiently managing and digesting#}
            {#                        the explosion of public data. Bangladesh is no exception.</p>#}
            {#                    <br><br><br>#}
            {#                </div>#}
            {#            </div>#}
            <!-- /.container -->

        </div>

        </div>
    </section>




    <!-- The Bangladesh Peace Observatory Platform -->

    <section id="portfolio" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="content-section-a">
                    <div class="title"><h1 class="section-heading1">The Bangladesh Peace Observatory Platform</h1></div>
                    <div class="container">

                        <div class="row">
                            <hr class="test">
                            <div class="col-lg-9 col-sm-6">

                                <p class="lead1">Designing effective responses to public policy challenges is heavily
                                    dependent on evidence. Evidence is dependent on good data.
                                    In the present day "Open Data" is the future. More data has been produced globally
                                    in
                                    the last two years than in the previous 3000 years of human activity.
                                    Most of this data is openly accessible. Therefore, the future challenge for
                                    decision-makes is no finding data: the challenge is efficiently managing and
                                    digesting
                                    the explosion of public data. Bangladesh is no exception.</p><br><br><br>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <br>
                                <div class="clearfix"></div>
                                <i class="fa fa-map-o" style="font-size: 1000%" aria-hidden="true"></i>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-2 col-sm-6">

                                <br>
                                <div class="clearfix"></div>
                                <i class="fa fa-search" style="font-size: 1000%" aria-hidden="true"></i>
                            </div>

                            <div class="col-lg-9 col-sm-6">
                                <hr class="test">
                                <p class="lead1 paragraph2">Designing effective responses to public policy challenges is
                                    heavily dependent on evidence. Evidence is dependent on good data.
                                    In the present day "Open Data" is the future. More data has been produced globally
                                    in
                                    the last two years than in the previous 3000 years of human activity.
                                    Most of this data is openly accessible. Therefore, the future challenge for
                                    decision-makes is no finding data: the challenge is efficiently managing and
                                    digesting
                                    the explosion of public data. Bangladesh is no exception.</p><br><br><br>
                            </div>

                        </div>

                        <div class="row">
                            <hr class="test">
                            <div class="col-lg-9 col-sm-6">

                                <p class="lead1">Designing effective responses to public policy challenges is heavily
                                    dependent on evidence. Evidence is dependent on good data.
                                    In the present day "Open Data" is the future. More data has been produced globally
                                    in
                                    the last two years than in the previous 3000 years of human activity.
                                    Most of this data is openly accessible. Therefore, the future challenge for
                                    decision-makes is no finding data: the challenge is efficiently managing and
                                    digesting
                                    the explosion of public data. Bangladesh is no exception.</p><br><br><br>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <br>
                                <div class="clearfix"></div>
                                {# <i class="fa fa-4x fa-diamond text-primary sr-icons" style="font-size: 1000%"></i>#}
                                <i class="fa fa-users" style="font-size: 1000%" aria-hidden="true"></i>
                            </div>

                        </div>

                    </div>
                    <!-- /.container -->

                </div>
            </div>

        </div>
    </section>




    <!-- Advisory Board -->

    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2 class="section-heading2">Advisory Board</h2>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-sm-3 col-xs-6">
{#                        <a href="#">#}
                            <img class="img-responsive logos" src="static/assets/logo_SVC.png"
                                 alt="Mountain View"
                                 >
{#                        </a>#}
                    </div>


                    <div class="col-sm-3 col-xs-6">
{#                        <a href="#">#}
                            <img class="img-responsive logos" src="static/assets/logo_police.png"
                                 alt="Mountain View">
{#                        </a>#}
                    </div>

                    <div class="col-sm-3 col-xs-6">
{#                        <a href="#">#}
                            <img class="img-responsive logos" src="static/assets/logo_mgr.png"
                                 alt="Mountain View">
{#                        </a>#}
                    </div>

                    <div class="col-sm-3 col-xs-6">
{#                        <a href="#">#}
                            <img class="img-responsive logos" src="static/assets/logo_lamp.png"
                                 alt="Mountain View">
{#                        </a>#}
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-xs-12 col-sm-6">
{#                        <a href="#">#}
                            <img class="img-responsive logos1" src="static/assets/logo_actionaid.png"
                                 alt="Mountain View">
{#                        </a>#}
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-6">
{#                        <a href="#">#}
                            <img class="img-responsive logos1" src="static/assets/logo_star.png"
                                 alt="Mountain View">
{#                        </a>#}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-sm-3 col-xs-6">
{#                        <a href="#">#}
                            <img class="img-responsive logos" src="static/assets/logo_CGS.png"
                                 alt="Mountain View">
{#                        </a>#}
                    </div>

                    <div class="col-sm-3 col-xs-6">
{#                        <a href="#">#}
                            <img class="img-responsive logos2" src="static/assets/logo_SEHD.png"
                                 alt="Mountain View">
{#                        </a>#}
                    </div>

                    <div class="col-sm-3 col-xs-6">
{#                        <a href="#">#}
                            <img class="img-responsive logos" src="static/assets/logo_MCCI.png"
                                 alt="Mountain View">
{#                        </a>#}
                    </div>

                    <div class="col-sm-3 col-xs-6">
{#                        <a href="#">#}
                            <img class="img-responsive logos3" src="static/assets/logo_DhakaUni.png"
                                 alt="Mountain View">
{#                        </a>#}
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}