{% extends 'layout.html' %}

{% block header %}
    <body id="page-top" class="index" style="background-color:#007ca4;">

    <!-- Navigation -->
    <div class="container">
        <nav class="navbar navbar-default">
            <a class="about" href="{{ url_for('main.about') }}">About</a>
        </nav>
    </div>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text-about">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="intro-lead-in">Bangladesh Peace Oservatory</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <hr style="width:40%; margin-left: 29% !important;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="intro-text-about intro-lead-in1">Advancing understanding of peace and tolerance
                            through data insights
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="">
                        <a href="{{ url_for('viz.index') }}" class=" btn btn-xl enter-about">Enter the Observatory</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <p class="intro-header ">A project by University of
                        Dhaka
                </div>
            </div>
            <div class="row">
                <div class=" intro-header1 ">Hosted by the Centre for
                    Genocide Studies
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class=" text-center">
                        <p class="intro-header">In Partnership With</p>
                        <p class="intro-header2">The Bangladesh Police | National Defense College | Micro-governance
                            Research Initiative
                            | Stop Violence Coalition | The Daily Star | The Metropolitan Chamber of Commerce and
                            Industry |
                            Society for Environment and Human Development | Action Aid Bangladesh
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
