.intro-lead-in {
    font-family: "Playfair Display";
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    line-height: 85px;
    color: #FFFFFF;
    padding-top: 27%;
}

header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
}

.about {
    /*float: right;*/
    font-size: 24px;
    font-family: "Noto Serif";
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    line-height: 33px;
    color: #FFC84A;
    text-shadow: 0 1px 0 0 #006586;
}

.navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0px;
    color: white;
}
.navbar{
    text-align: right !important;
}
.navbar-custom {
    background-color: #007CA4;
    border-color: transparent;
}

.section-heading5 {
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: bold;
    line-height: 64px;
    color: #333333;
}

.section-heading-about {
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 64px;
    color: #FFFFFF;
}

.advisory-board-title {
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: bold;
    line-height: 64px;
    color: #333333;
}

.logos {
    width: 110px;
    height: 110px;
    text-align: center !important;
    margin: 0 auto;
}

.logos1 {
    width: 296px;
    height: 62px;
    text-align: center !important;
    margin: 0 auto;
}

.logos2 {
    width: 120px;
    height: 82px;
    margin-top: 33px;
    text-align: center !important;
    margin: 0 auto;
}

.logos3 {
    width: 120px;
    height: 82px;
    margin-top: 33px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.logo1 {
    width: 180px;
    height: 150px;
    margin-top: 20px;

}

.enter-btn {
    box-sizing: border-box;
    width: 256px;
    height: 25px;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
}

.enter-about {
    height: 68px;
    background-color: #FFA400;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
}

.enter-landing {
    color: #FFAA12 !important;
    background-color: #007CA4;
    border: 2px solid #FFAA12 !important;
    border-style: solid;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 4px;
    font-size: 20px;
    padding: 17px;
    float: right;
    margin-right: 50px;
    height: 62px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-xl1:hover {
    color: white;
    background-color: #FDA200;
    border-color: #FDA200;
}

hr {
    box-sizing: border-box;
    width: 348px;
    height: 3px;
    border: 6px solid #FFAA12;
}

.header {
    background-color: #007CA4;
}
#mainNav{
    background-color: #007CA4;
}
.bg-light-gray {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bg-light-blue {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #007CA4;
}

.bg-dark-blue {
    background-color: #003D52;
}

.lead-desc-1 {
    font-family: Lato;
    font-size: 18px;
    line-height: 31px;
    color: #FFFFFF;
}

.lead2 {
    font-family: Lato;
    font-size: 18px;
    line-height: 31px;
    color: #333333;
    text-align: justify;
}

.lead3 {
    font-size: 18px;
    color: black;
    line-height: 31px;
    text-align: justify;
    font-family: 'Lato';
}

.lead4 {
    font-size: 18px;
    color: white;
    text-align: justify;
    font-family: 'Lato';
    padding-left: 20px !important;
}

.lead-hr {
    height: 3.5em;
    width: 0px;
    border: 3px solid #ADD8E6;
    margin-left: 0px;
    float: left;
}

.project-by {
    font-family: Lato;
    font-size: 22px;
    text-align: center;
    line-height: 22px;
    color: #FFFFFF;
}

.hosted-by {
    font-family: Lato;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 5%;
}

.in-partnership-title {
    font-family: Lato;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 30px;
}

.in-partnership-desc {
    font-family: Lato;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;

}

.intro-header2 {
    font-family: Lato;
    font-size: 18px;
    /*margin-top: 67px;*/
    /*margin-bottom: 50px;*/
    color: white;
}

.intro-heading1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 60px;
    width: 545px;
}

.test1 {
    height: 85px;
    width: 0px;
    /*position:relative;*/
    border: 5px solid #ADD8E6;
    margin-left: 0px;
    float: left;
    margin-right: 15px;

}

.paragraph2 {

    padding-left: 50px;
    font-family: Lato;
}

.intro-footer-one {
    font-family: Lato;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 6px;
}

.footer-hosted-by {
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-supported-by {
    font-family: Lato;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    color: #FFFFFF;
}

.copyright-text {
    font-family: Lato;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    color: #FFFFFF;
}

.footer-disclaimer-title {
    font-family: "Noto Serif";
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    color: #EEEEEE;
    text-align: left;
}

.footer-disclaimer-text {
    font-family: Lato;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: left;
}

.find-us-on-social {
    font-family: "Noto Serif";
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    color: #EEEEEE;
    /*float: left;*/
    white-space: nowrap;
}

.footer1 {
    font-family: Lato;
    font-size: 16px;
    text-align: justify;
}

footer .footer-above {
    padding-top: 50px;
    /*background-color: #2C3E50;*/
}

footer .footer-col {
    margin-bottom: 30px;
}

footer .footer-below {
    padding: 25px 0;
    /*background-color: #233140;*/
}

.navbar-default .navbar-brand {
    color: #FDA200;
}

.navbar-nav {
    background-color: #007ca4;
}

.social-google {
    background-color: white;
    border-color: white;
}

.social-google:hover {
    background-color: #be5238;
    border-color: #347b95;
}

.social-twitter {
    background-color: white;
    border-color: white;
}

.social-twitter:hover {
    background-color: #3997ba;
    border-color: #347b95;
}

.social-facebook {
    background-color: white;
    border-color: white;
}

.social-facebook:hover {
    background-color: #47618d;
    border-color: #347b95;
}

.social-pinterest {
    background-color: white;
    border-color: white;
}

.social-pinterest:hover {
    background-color: #466b99;
    border-color: #347b95;
}

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    color: #007CA4;
}

.fa-twitter:before {
    content: "\f099";
    color: #007CA4;
}

.fa-pinterest:before {
    content: "\f0e1";
    color: #007CA4;
}

.fa-google-plus:before {
    content: "\f0d5";
    color: #007CA4;
}

/*!
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
    color: #777777;
}

.text-primary {
    color: #fed136;
}

/*p {*/
/*font-size: 14px;*/
/*line-height: 1.75;*/
/*}*/
p.large {
    font-size: 14px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Serif";
}

.img-centered {
    margin: 0 auto;
}

.bg-darkest-gray {
    background-color: #222222;
}

.btn-primary {
    color: #007CA4;
    background-color: white;
    border-color: white;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    width: 46px;
    height: 41px;
    font-size: 19px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #007CA4;
    background-color: #fec503;
    border-color: #f6bf01;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #fed136;
    border-color: #fed136;
}

.btn-primary .badge {
    color: #fed136;
    background-color: white;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: white;
    background-color: #fec503;
    border-color: #f6bf01;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #fed136;
    border-color: #fed136;
}

.btn-xl .badge {
    color: #fed136;
    background-color: white;
}

.navbar-custom .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #fec503;
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}

.navbar-custom .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #fed136;
    outline: none;
}

.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #fed136;
}

.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #fec503;
}

@media (min-width: 768px) {
    .navbar-custom {
        background-color: #007CA4;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }

    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navbar-custom .navbar-nav > .active > a {
        border-radius: 3px;
    }
}

@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: #007CA4;
        padding: 10px 0;
    }

    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}

.intro-lead-in1 {
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: #FFFFFF;
    padding-bottom: 10%;
}

header .intro-text .intro-heading {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 4px;
    line-height: 40px;
    margin-bottom: 60px;
    width: 545px;
    margin-left: 275px;
}

section {
    padding: 10px 0;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Noto Serif";
}

section h3.section-subheading {
    font-size: 16px;
    font-family: "Noto Serif";
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}

@media (min-width: 768px) {
    section {
        /*padding: 150px 0;*/
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(254, 209, 54, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 25px;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
}

.timeline > li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #fed136;
    color: white;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body > p,
.timeline .timeline-body > ul {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline > li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline > li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline > li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
    }

    .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px;
    }
}

@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }

    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }

    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline > li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    text-align: center;
    margin-bottom: 50px;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid white;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}

section#contact .section-heading {
    color: white;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;

}

footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.portfolio-modal .modal-dialog {
    margin: 0;
    height: 100%;
    width: auto;
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    z-index: 1052;
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none;
}

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: #fed136;
}


.section-2-part-4 {
    padding-top: 53px;
}

.section-2-part-5 {
    padding-top: 30px;
}

.social-login-btn {
    width: 30px;
    height: 30px;
}

i.fa:before {
    font-size: 22px;
    margin-left: -10px;
    width: 30px;
    height: 30px;
    color: #003d52 !important;
}

.nav-container {
    background-color: #fff;
}

.blue-div.row {
    background-color: #007ca4;
    height: 150px;
}

#section-about-description {
    background-color: #00506B;
    padding-top: 60px;
}

#advisory-board img {
    filter: grayscale(100%);
}

#advisory-board img:hover {
    filter: grayscale(0%);
}

#advisory-board {
    /*margin-bottom: 100px;*/
    margin-top: 50px;
}

.advisory-board-title {
    padding-bottom: 40px;
}

#header {
    background: linear-gradient(0deg, #003D52 0%, #007CA4 100%);
}
.arrow {
  white-space: nowrap;
  font-size: 8rem;
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

/* this sets the position of the arrow when it's up, so it will move up or down by 14px when you add or remove this class */
.lift {
  bottom: 64px;
}

i.fa.arrow:before {
    font-size: 51px;
    margin-left: -10px;
    width: 30px;
    height: 30px;
    color: #ffffff !important;
}
