div.division-overview-tab {
    border: 1px solid rgba(128, 128, 128, 0.25);
    padding: 5px;
    background-color: white;
}
div#national-accordion {
    border: 1px solid gray;
    padding: 5px;
}

dl {
    margin-bottom: 0px !important;
}

.dl-horizontal dt {
    width: 100px;
    text-align: left !important;
}

.dl-horizontal dd {
    text-align: left !important;
    margin-left: 0px !important;
}

#viz-container {
    background-color: #f5f5f5;
    border: 1px solid gray;
    height: 500px;
    overflow: auto;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
    padding-bottom: 10px;
}

#line-chart {
    border: 1px solid gray;
    height:300px;
    width:100%;
}

.top-3 {
    border: 1px solid rgba(128, 128, 128, 0.23);
    margin-top: 10px;
    background-color: white;
}

.census-information {
    border: 1px solid gray;
    padding: 5px;
    width: 92%;
    margin-left: 30px;
    margin-top: 9px;
}

.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
    float: right;
    margin-top: 9px;
    margin-right: 5px;
}

#3d-map {

}

/*div#ui-id-1 {*/
/*height: 300px !important;*/
/*}*/
div#ui-id-2 {
    height: 200px !important;
}

div#ui-id-4 {
    height: 200px !important;
}

.viz-icon {
    width: 15px;
    height: 20px;
}

.viz-icon-array {
    width: 15px;
    height: 15px;
}

div#filtering {
    padding-left: 30px;
    background-color: #1B6D85;
}

.filter-label {
    font-size: 12px;
    color: #fff;
}

path {
    stroke: #777;
}
span.section-title {
    color: #03506b;
    font-size: 18px;
}
.location-main-text{
    color: #03506b;
    font-size: 22px;
}
