div.division-overview-tab {
    border: 1px solid rgba(128, 128, 128, 0.25);
    padding: 5px;
    background-color: #FFFFFF;
    box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

div#national-accordion {
    padding-top: 9px;
}

dl {
    margin-bottom: 0px !important;
}

.dl-horizontal dt {
    width: 160px;
    text-align: left !important;
    font-family: "Noto Serif";
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    color: #00506B;
}

.dl-horizontal dd {
    text-align: right !important;
    margin-left: 0px !important;
    font-family: "Noto Serif";
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
}

#viz-container {
    background-color: #f5f5f5;
    border: 1px solid gray;
    height: 500px;
    overflow: auto;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
    padding-bottom: 10px;
    font-family: "Noto Serif";
}

#line-chart {
    border: 1px solid gray;
    /*height: 300px;*/
    width: 100%;
    padding: 3%;
}

.top-3 {
    border: 1px solid rgba(128, 128, 128, 0.23);
    margin-top: 10px;
    background-color: white;
    box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.census-information {
    border: 1px solid #e2e2e2;
    padding: 5px;
    margin-top: 9px;
    background-color: #fff;
    box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
    float: right;
    margin-top: 9px;
    margin-right: 5px;
}

#3d-map {

}

/*div#ui-id-1 {*/
/*height: 300px !important;*/
/*}*/
div#ui-id-2 {
    height: 181px !important;
    box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

div#ui-id-4 {
    height: 181px !important;
    box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.viz-icon {
    width: 15px;
    height: 20px;
}

.viz-icon-array {
    width: 15px;
    height: 15px;
}

div#filtering {
    padding-left: 30px;
    /*background-color: #1B6D85;*/
    background-color: #007CA4;
    font-family: "Noto Serif";
}

.filter-label {
    font-size: 12px;
    color: #fff;
    font-family: "Noto Serif";
}

path {
    /*stroke: #777;*/
}

span.section-title {
    font-family: "Noto Serif";
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #00506B;
}

.location-main-text {
    font-family: "Noto Serif";
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    color: #00506B;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

    .logos2 {
        width: 190px;
        height: 82px;
        margin-top: 33px;
        text-align: center !important;

    }

}

#top {
    /*display:none;*/
}

.casualties-list-not-enogh-data {
    display: none;
}

.property-list-not-enogh-data {
    display: none;
}

.perpetrators-list-not-enogh-data {
    display: none;
}

.third-section-first-chart-no-data {
    display: none;
}

.third-section-second-chart-no-data {
    display: none;
}

.third-section-third-chart-no-data {
    display: none;
}

#district-select, .district-select-label {
    display: none;
    margin-top: 24px;
    font-family: "Noto Serif";
}

/*.highcharts-container {*/
/*width: 100% !important;*/
/*}*/
#division-overview {
    display: none;
}

#viz-container path {
    stroke: white;
}

.chart-container .highcharts-grid {
    display: none;
}

ol li {
    text-align: justify;
    font-family: Lato;
    font-size: 18px;
    line-height: 32px;
    color: #666666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    list-style-position: inside;
}

span.section-title-top-perpetrators {
    font-family: "Noto Serif";
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #00506B;
}

span.section-title-top-casualties {
    font-family: "Noto Serif";
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #00506B;
}

span.section-title-top-property {
    font-family: "Noto Serif";
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #00506B;
}

.rank-section-title {
    color: #03506b;
    font-size: 18px;
    font-family: "Noto Serif";
}

#national-rank {
    display: none;
    font-family: "Noto Serif";
}

div.national-overview-tab {
    border: 1px solid rgba(128, 128, 128, 0.25);
    padding: 5px;
    background-color: white;
    font-family: "Noto Serif";
}

.violent-crimes-in {
    padding-bottom: 12px;
    padding-top: 12px;
}

.line-chart-title {
    font-family: "Noto Serif";
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    color: #00506B;
}

.line-chart-description {
    font-family: "Noto Serif";
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #00506B;
}

#national-rank-accordion #ui-id-2 {
    height: 96px !important;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 7px;
}

.viz-title {
    color: white;
    font-family: "Noto Serif";
    font-size: 26px;

}

.viz-title-about {
    float: right;
    font-size: 20px;
    font-family: "Noto Serif";
    color: #FFC84A;
    padding-right: 10px;
    padding-top: 10px;
}

div#map {
    padding: 20px;
}

.viz-title-container {
    padding-right: 10px;
    padding-top: 10px;
}

ol {
    padding-left: 0px !important;
}

.rate-1, .rate-2, .rate-3, .rate-1-text, .rate-2-text, .rate-3-text {
    font-family: Lato;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
}

.rate-1, .rate-2, .rate-3 {
    font-weight: bold;
}

.viz-icon-arrow {
    width: 24.11px;
    height: 15px;
}
