div.division-overview-tab {
    border: 1px solid rgba(128, 128, 128, 0.25);
    padding: 5px;
    background-color: #FFFFFF;
    box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.ui-accordion-content {
    border: 1px solid rgba(128, 128, 128, 0.25);
    /*padding: 20px;*/
    background-color: #FFFFFF;
    box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    height: auto !important;
}

.rank-text.ui-accordion-content {
    padding-top: 20px;
}

div#national-accordion {
    padding-top: 9px;
}

dl {
    margin-bottom: 0px !important;
}

.dl-horizontal dt {
    width: 160px;
    text-align: left !important;
    font-family: "Noto Serif";
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    color: #00506B;
}

.dl-horizontal dd {
    text-align: right !important;
    margin-left: 0px !important;
    font-family: "Noto Serif";
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
}

#viz-container {
    background-color: #f5f5f5;
    border: 1px solid gray;
    height: 550px;
    overflow: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
    font-family: "Noto Serif";
    /*margin-right:10px;*/
}

body::-webkit-scrollbar {
    width: 1em;
}

/*body::-webkit-scrollbar-track {*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*}*/
/*body::-webkit-scrollbar-thumb {*/
/*background-color: darkgrey;*/
/*outline: 1px solid slategrey;*/
/*}*/

#line-chart {
    border: 1px solid gray;
    height: 550px;
    width: 100%;
    padding: 3%;
}

.top-3 {
    border: 1px solid rgba(128, 128, 128, 0.23);
    margin-top: 10px;
    background-color: white;
    box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-top: 10px;
}

.census-information {
    border: 1px solid #e2e2e2;
    padding: 5px;
    margin-top: 9px;
    background-color: #fff;
    box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #FFAA12;
    float: right;
    margin-top: 9px;
    margin-right: 5px;
    font-family: FontAwesome;
    font-size: 18px;
    line-height: 18px;
}

#3d-map {

}

/*div#ui-id-1 {*/
/*height: 300px !important;*/
/*}*/
div#ui-id-2 {
    height: 181px !important;
    box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

div#ui-id-4 {
    height: 181px !important;
    box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.viz-icon {
    width: 15px;
    height: 20px;
}

.viz-icon-array {
    width: 15px;
    height: 15px;
}

.icon-container {
    padding: 5px;
}

div#filtering {
    padding-left: 30px;
    /*background-color: #1B6D85;*/
    background-color: #007CA4;
    font-family: "Noto Serif";
}

.filter-label {
    font-family: "Noto Serif";
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 0 #006586;
}

path {
    /*stroke: #777;*/
}

span.section-title {
    font-family: "Noto Serif";
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #00506B;
}

.location-main-text {
    font-family: "Noto Serif";
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    color: #00506B;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

    .logos2 {
        width: 190px;
        height: 82px;
        margin-top: 33px;
        text-align: center !important;

    }

}

#top {
    /*display:none;*/
}

.casualties-list-not-enogh-data {
    display: none;
    font-family: Lato;
    font-size: 18px;
    line-height: 32px;
    color: #666666;
}

.property-list-not-enogh-data {
    display: none;
    font-family: Lato;
    font-size: 18px;
    line-height: 32px;
    color: #666666;
}

.perpetrators-list-not-enogh-data {
    display: none;
    font-family: Lato;
    font-size: 18px;
    line-height: 32px;
    color: #666666;
}

.third-section-first-chart-no-data {
    display: none;
}

.third-section-second-chart-no-data {
    display: none;
}

.third-section-third-chart-no-data {
    display: none;
}

#district-select, .district-select-label {
    display: none;
    margin-top: 24px;
    font-family: "Noto Serif";
}

/*.highcharts-container {*/
/*width: 100% !important;*/
/*}*/
#division-overview {
    display: none;
}

#viz-container path {
    stroke: white;
}

.chart-container .highcharts-grid {
    display: none;
}

ol li {
    text-align: justify;
    font-family: Lato;
    font-size: 18px;
    line-height: 32px;
    color: #666666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    list-style-position: inside;
}

span.section-title-top {
    font-family: "Noto Serif";
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #00506B;
}

.rank-section-title {
    font-family: "Noto Serif";
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #00506B;
}

#national-rank {
    display: none;
    font-family: "Noto Serif";
}

#division-rank {
    display: none;
    font-family: "Noto Serif";
}

#district-rank {
    /*display: none;*/
    font-family: "Noto Serif";
}

div.upazila-overview-tab {
    border: 1px solid rgba(128, 128, 128, 0.25);
    padding: 5px;
    background-color: white;
    font-family: "Noto Serif";
}

div.district-overview-tab {
    border: 1px solid rgba(128, 128, 128, 0.25);
    padding: 5px;
    background-color: white;
    font-family: "Noto Serif";
}

div.national-overview-tab {
    border: 1px solid rgba(128, 128, 128, 0.25);
    padding: 5px;
    background-color: white;
    font-family: "Noto Serif";
}

.violent-crimes-in {
    padding-bottom: 12px;
    padding-top: 12px;
}

.line-chart-title {
    font-family: "Noto Serif";
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    color: #00506B;
}

.line-chart-description {
    font-family: "Noto Serif";
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #00506B;
}

#national-rank-accordion #ui-id-2 {
    height: 96px !important;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 7px;
}

.viz-title {
    font-family: "Noto Serif";
    font-size: 32px;
    font-weight: bold;
    line-height: 49px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 0 #006586;

}

.viz-title-about {

    font-family: "Noto Serif";
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    line-height: 33px;
    color: #FFC84A;
    text-shadow: 0 1px 0 0 #006586;
    padding-right: 10px;
    padding-top: 20px;
}

div#map {
    padding: 20px;
    height: 550px;
}

.viz-title-container {
    padding-right: 10px;
    padding-top: 10px;
}

ol {
    padding-left: 0px !important;
}

.rate-1, .rate-2, .rate-3, .rate-1-text, .rate-2-text, .rate-3-text {
    font-family: Lato;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
}

.rate-text {
    font-family: Lato;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
}

.rate-1, .rate-2, .rate-3 {
    font-weight: bold;
}

.viz-icon-arrow {
    width: 24.11px;
    height: 15px;
}

.rank-text span {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    color: #555555;
}

.rank-stats span {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    color: #333333;
}

.rank-text-row {
    margin-top: -6px !important;
}

.highcharts-drillup-button {
    color: white !important;
}

dt.religious-diversity {
    /* padding-left: 45px; */
    font-size: 16px;
}

.horizontal-line {
    border-top: 1px solid #eee;
    padding: 5px;
}

.census-info-container {
    font-family: "Noto Serif";
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #00506B;
    padding-bottom: 10px;
}

.daterangepicker .daterangepicker_input i {
    position: absolute;
    left: 14px !important;
    top: 4px !important;
}

a.drillup-button {
    cursor: pointer;
    font-family: "Noto Serif";
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    color: #FFC84A;
    text-shadow: 0 1px 0 0 #006586;
}

.highcharts-contextbutton {
    display: none !important;
}

.highcharts-credits tspan:nth-child(2) {
    display: none !important;
}

.highcharts-credits tspan:nth-child(3) {
    display: none !important;
}

g.highcharts-legend-box {
    background-color: #FFFFFF !important;
    box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border-radius: 2px !important;
}

.highcharts-legend-title tspan {
    font-family: "Noto Serif";
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: 19px !important;
    color: #333333 !important;
}

.ui-menu {
    background: white;
}

.ui-menu-item {
    font-family: Lato;
    font-size: 18px;
    line-height: 17px;
    color: #000000;
}

.ui-menu-item:hover {
    color: gray;
    cursor: pointer;
}

.ui-autocomplete {
    background: #fff;
    border-radius: 10px;
    width: 300px;
    list-style: none;
    height: 300px;
    overflow: scroll;
    padding-left: 10px;
}

.ui-tooltip {
    background: #fff;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0
    list-style-position: inside;
}

input.empty {
    background-color: #FFFFFF;
    /*border: 1px solid #006C8F;*/
    /*border-radius: 2px;*/
    float: left;
}

select#data-source-select, select#violence-type-select, .update-chart {
    background-color: #FFFFFF;
    border: 1px solid #006C8F;
    border-radius: 2px;
    height: 35px;
}

.search-icon {
    position: absolute;
    top: 32px;
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 16px;
    color: #FFA400;
    float: right;
    margin-left: -20px;
}

input.empty::-webkit-input-placeholder {
    opacity: 0.4;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

input.empty::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.4;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

input.empty::-moz-placeholder { /* Firefox 19+ */
    opacity: 0.4;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

input.empty:-ms-input-placeholder { /* IE 10+ */
    opacity: 0.4;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

input.empty:-moz-placeholder { /* Firefox 18- */
    opacity: 0.4;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.fa-caret-up {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #FFAA12;
    float: right;
    margin-top: 9px;
    margin-right: 5px;
    font-size: 18px;
    line-height: 18px;

}

.rotate {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.fa-caret-up:before {
    display: none;
}

#loadingmessage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.86);
}

#loadingmessage img {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.rate-1-text, .rate-2-text, .rate-3-text {
    font-weight: bold;
}

.ui-state-focus {
    outline-color: #EA9600;
}

g.highcharts-legend-item.highcharts-line-series {
    border: 1px solid black !important;
}

#Human_and_Economic_Impact_Download {
    width: 109px;
    height: 32px;
    background-color: #FFA400;
    border: 1px solid #E79400;
    border-radius: 2px;
    float: right;
    margin-top: 20px;
}

#Human_and_Economic_Impact_Download_Text {
    width: 71px;
    height: 19px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 0 #DA740C;
}

#Story_Frame_Data_Download {
    width: 109px;
    height: 32px;
    background-color: #FFA400;
    border: 1px solid #E79400;
    border-radius: 2px;
    margin-top: 6px;
}

#Story_Frame_Data_Download_Text {
    width: 71px;
    height: 19px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 0 #DA740C;
}

.fa.fa-file-pdf-o.download-icon:before {
    width: 14px;
    height: 16px;
    font-size: 14px;
    color: #FFFFFF !important;
}

.download-icon {
    width: 14px;
    height: 16px;
    color: #FFFFFF !important;
}

@media screen and (max-width: 480px) {
    .viz-title-about {
        float: right;
        font-size: 14px;
        padding-top: 0px;
    }

    .viz-title {
        font-size: 18px;
        flot: left;
        line-height: 0px;
    }

    .viz-title-container {
        padding-right: 10px;
        padding-top: 10px;
    }
}

.modal-header {
    width: 650px;
    height: 106px;
    background-color: #007CA4;
}

.modal-body {
    width: 650px;
    background-color: #ffffff;
}

.modal-footer {
    width: 650px;
    height: 80px;
    background-color: #007CA4;
}

.download-close {
    width: 140px;
    height: 32px;
    background-color: #FFA400;
    border: 1px solid #E79400;
    border-radius: 2px;
    margin-top: 6px;
    font-size:
}

.modal-title {
    width: 362px;
    height: 66px;
    font-family: "Noto Serif";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    color: #FFFFFF;
}

.download {
    width: 109px;
    height: 32px;
    background-color: #FFA400;
    border: 1px solid #E79400;
    border-radius: 2px;
    margin-top: 6px;
}

#main-modal-chart {
    width: 625px;
    height: 262px;
    background-color: #E3EBED;
}

#first-modal-chart {
    width: 625px;
    height: 262px;
}

#second-modal-chart {
    width: 625px;
    height: 262px;
}

.modal-section {
    padding-top: 25px;
}

#third-modal-chart {
    width: 625px;
    height: 262px;
}
p.disclaimer-point {
    padding-left: 30px;
}