/*Responsive*/
/* Large Devices, Wide Screens */
@media (max-width: 1200px) {

    .intro-lead-in {
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 18px;
        /*line-height: 42px;*/
        /*margin-bottom: 55px;*/
    }

    div.col-md-12.intro-heading {
        font-size: 20px;
        margin-left: 170px;
    }

    .section-heading {
        margin-left: 50%
    }

    .logo1 {
        width: 180px;
        height: 150px;
        margin-top: 20px;
    }

    .lead2 {
        font-size: 22px;
        color: black;
        text-align: justify;
    }

    .lead3 {

    }

    .col-md-2.col-xs-3.col-sm-2.col-md-offset-2.col-xs-offset-2 {
        margin-left: 4px;
    width: 130px;
    margin-right: -50px;
    }

    .col-md-2.col-xs-3 {
        margin-right: 3px;
    }

    .col-sm-3.col-xs-6 {
        margin-bottom: 20px;
    }

    .logos {
        height: 150px;
    }

    .logos1 {

    }

    .logos2 {

    }

    .logos3 {

    }

    .logos4{

    }

    .col-md-6.col-xs-12.col-sm-6 {

    }

    .lead1 {
        width: 145%;
    }

    .section-heading1 {
        width: 90%;
        margin-left: 45px;
    }

    .paragraph2 {

    }

    .col-md-6.col-lg-2.col-sm-6 {
        /*margin-top: -29%;*/
        /*margin-left: 77%;*/
    }

    .test {

    }

    .navbar-default .navbar-brand {

    }

    .lead4 {
        font-size: 22px;
    color: white;
    text-align: justify;
    font-family: Lato;
    width: 287%;

    }

    .col-lg-2 {

    }

    .logos5{
            width: 20%;
    margin-left: 673px;
    margin-top: -371px;

    }

    .intro-header1{

    }

}

@media (max-width: 991px) {

    .intro-lead-in {
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 18px;
        /*line-height: 42px;*/
        /*margin-bottom: 55px;*/
    }

    div.col-md-12.intro-heading {
        margin-left: 0px;
        width: 100%;
    }

    .section-heading {
        margin-bottom: 30px;
        margin-left: 25%;
    }

    .logo1 {
        width: 160px;
        height: 130px;
        margin-top: 20px;
    }

    .lead2 {
        font-size: 20px;
        color: black;
        text-align: justify;
        margin-top: -140px;
        margin-left: 176px;
    }

    .lead3 {
            margin-top: -140px;
    margin-left: 176px;
    }

    .col-md-2.col-xs-3.col-sm-2.col-md-offset-2.col-xs-offset-2 {
        margin-left: 210px;
        width: 55px;
        margin-right: -39px;
    }

    .col-md-2.col-xs-3 {
        margin-right: -110px;
    }

    .col-sm-3.col-xs-6 {

    }

    .logos {
        height: 97px;
        width: 113px;
    }

    .logos1 {

    }

    .logos2 {
        width: 115px;
        height: 68px;
    }

    .logos3 {
        width: 92px;
        height: 95px;

    }

    .logos5{

    }

    .col-md-6.col-xs-12.col-sm-6 {

    }

    .lead1 {

        font-size: 18px;
        margin-left: 15px;
    }

    .section-heading1 {
        width: 635px;
        margin-left: 35px;
    }

    .paragraph2 {

    }

    .col-md-6.col-lg-2.col-sm-6 {
        /*margin-top: -330px;*/
        /*margin-left: 500px;*/
    }

    .test {

    }

    .navbar-default .navbar-brand {

    }

    .lead4 {
        font-size: 18px;
        /* width: 15%; */
        margin-left: 30px;
        width: 60%;
        text-align: justify;
        margin-top: -89px;
    }

    .col-lg-2 {

    }

    .col-md-3.col-lg-9.col-sm-6 {
        width: 100%;
        margin-left: 207px;
        margin-top: -14px;
    }

    .logos5 {
            width: 24%;
    margin-left: 522px;
    margin-top: -349px;
    }

    .logos4 {
        width: 24%;
        /* margin-left: -25px; */
        margin-top: -66px;

    }

    .intro-header1{
            margin-top: 440px;

    }

}

/*Medium Devices, Desktops */
@media (max-width: 800px) {

    .intro-lead-in {
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 18px;
        line-height: 42px;
        margin-bottom: 55px;
    }

    div.col-md-12.intro-heading {
        font-size: 20px;
    margin-left: 80px;
    width: 74%;
    }

    .section-heading {

    }

    .logo1 {
        width: 180px;
        height: 150px;
        margin-top: 20px;
    }

    .lead2 {
        font-size: 22px;
        color: black;
        text-align: justify;
    }

    .lead3 {
        font-size: 22px;
    color: black;
    text-align: justify;
    }

    .lead4 {

    }

    .col-md-2.col-xs-3.col-sm-2.col-md-offset-2.col-xs-offset-2 {

    }

    .col-md-2.col-xs-3 {

    }

    .col-sm-3.col-xs-6 {

    }

    .logos {
        height: 100px;
    }

    .logos1 {

    }

    .logos2 {

    }

    .logos3 {

    }

    .logos4{

    }

    .logos5{

    }

    .col-md-6.col-xs-12.col-sm-6 {

    }

    .lead1 {

    }

    .section-heading1 {

    }

    .paragraph2 {

    }

    .col-md-6.col-lg-2.col-sm-6 {

    }

    .test {

    }

    .navbar-default .navbar-brand {

    }

    .col-lg-2 {

    }

    .intro-header1{

    }

}

/* Small Devices, Tablets (iPad)*/
@media (max-width: 768px) {

    .btn-xl {
        color: #FFAA12;
        background-color: #1b6d85;
        border: 2px solid #FFAA12;
        border-style: solid;
        font-family: Lato;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 3px;
        font-size: 20px;
        padding: 20px 40px;
        float: right;
    }

    div.col-md-12.intro-heading {
        font-size: 20px;
        margin-left: 0px;
        width: 100%;
    }

    .section-heading {

    }

    .logo1 {
        width: 150px;
        height: 120px;
        margin-top: 20px;
    }

    .lead2 {
        font-size: 18px;
        color: black;
        text-align: justify;
        margin-left: 26%;
        margin-top: -130px;
    }

    .lead3 {
        font-size: 18px;
        color: black;
        text-align: justify;
        margin-left: 26%;
        margin-top: -130px;

    }

    .lead4 {
        font-size: 18px;
        /* width: 15%; */
        margin-left: 35px;
        width: 60%;
        text-align: justify;
        margin-top: -155px;
    }

    .col-md-2.col-xs-3.col-sm-2.col-md-offset-2.col-xs-offset-2 {
            margin-left: 220px;
    width: 50px;
    margin-right: -35px;
    }

    .col-md-2.col-xs-3 {
        margin-right: -110px;
    }

    .col-sm-3.col-xs-6 {
                   width: 174px;
    margin-bottom: 20px;

    }

    .img-responsive.col-sm-3.col-xs-3 {
        width: 20px;
        height: 20px;
    }

    .logos {
        height: 120px
    }

    .logos1 {

    }

    .logos2 {
        margin-top: 52px;

    }

    .logos3 {
        height: 113px;
        width: 96px;

    }

    .logos4{

    }

    .logos5{

    }

    .col-md-6.col-xs-12.col-sm-6 {
        width: 350px;

    }

    .lead1 {
        width: 70%;
    }

    .section-heading1 {

    }

    .paragraph2 {

    }

    .col-md-6.col-lg-2.col-sm-6 {

    }

    .test {

    }

    .navbar-default .navbar-brand {

    }

    .intro-header1{

    }

}

@media (max-width: 767px) {

    .intro-lead-in {
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 18px;
        /*line-height: 42px;*/
        /*margin-bottom: 55px;*/
    }

    div.col-md-12.intro-heading {
        font-size: 20px;
        margin-left: 0px;

    }

    .section-heading {
        margin-bottom: 30px;
        margin-left: 90px;
    }

    .logo1 {
        width: 120px;
        height: 90px;
        margin-top: 20px;
    }

    .lead2 {
        font-size: 18px;
        color: black;
        text-align: justify;
        margin-left: 28%;
        margin-top: -100px;
    }

    .lead3 {
        font-size: 18px;
        color: black;
        text-align: justify;
        margin-left: 28%;
        margin-top: -100px;
    }

    .lead4 {
        font-size: 18px;
        /* width: 15%; */
        margin-left: 35px;
        width: 60%;
        text-align: justify;
        margin-top: -122px;
    }

    .col-md-2.col-xs-3.col-sm-2.col-md-offset-2.col-xs-offset-2 {
            margin-left: 159px;
    width: 50px;
    margin-right: -18px;
    }

    .col-md-2.col-xs-3 {
            margin-right: -83px;

    }

    .img-responsive.col-sm-3.col-xs-3 {
        width: 20px;
        height: 20px;
    }

    .logos {
        height: 100px;
    }

    .logos1 {
        width: 227px;
        height: 66px;

    }

    .logos2 {
        width: 107px;
        height: 60px;
        margin-top: 42px;

    }

    .logos3 {
        height: 99px;
        width: 80px;
    }

    .col-md-6.col-xs-12.col-sm-6 {
        width: 50%;
    }

    .lead1 {
        margin-left: 15px;
    }

    .section-heading1 {
        width: 550px;
        margin-left: 5px;
    }

    .paragraph2 {

    }

    .col-md-6.col-lg-2.col-sm-6 {

    }

    .test {

    }

    .navbar-default .navbar-brand {

    }

    .col-md-3.col-lg-9.col-sm-6 {
        width: 100%;
        margin-left: 149px;
    }

    .logos5 {
                width: 24%;
    margin-left: 471px;
    margin-top: -428px;

    }

    .logos4 {
            width: 24%;
    /* margin-left: -25px; */
    margin-top: -61px;

    }

    .intro-header1{
           margin-top: 270px;
    }

}

@media (max-width: 568px) {

    .intro-lead-in {
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 18px;
        /*line-height: 42px;*/
        /*margin-bottom: 55px;*/
    }

    div.col-md-12.intro-heading {
        font-size: 20px;
        margin-left: 0px;
        width: 100%;
    }

    .section-heading {
        margin-bottom: 30px;
        margin-left: 70px;
    }

    .logo1 {
        width: 150px;
        height: 120px;
        margin-top: 20px;
    }

    .lead2 {
        font-size: 20px;
        color: black;
        text-align: justify;
        margin-left: 35%;
        margin-top: -135px;
    }

    .lead3 {
        font-size: 20px;
        color: black;
        text-align: justify;
        margin-left: 35%;
        margin-top: -135px;
    }

    .lead4 {
        font-size: 18px;
        /* width: 15%; */
        margin-left: 35px;
        width: 60%;
        text-align: justify;
        margin-top: -122px;
    }

    .col-md-2.col-xs-3.col-sm-2.col-md-offset-2.col-xs-offset-2 {
        margin-left: 120px;
        width: 50px;
        margin-right: -12px;
    }

    .col-md-2.col-xs-3 {
        margin-right: -65px;
    }

    .col-sm-3.col-xs-6 {
            width: 119px;
        margin-bottom: 20px;
    }

    .logos {
        height: 100px;
        width: 100px;
    }

    .logos1 {

    }

    .logos2 {
        height: 75px;
        margin-top: 30px;
    }

    .logos3 {
        height: 100px;
        width: 90px;

    }

    .col-md-6.col-xs-12.col-sm-6 {

    }

    .lead1 {

    }

    .section-heading1 {

    }

    .paragraph2 {

    }

    .col-md-6.col-lg-2.col-sm-6 {

    }

    .test {

    }

    .navbar-default .navbar-brand {

    }

    .lead1 {
        margin-left: 15px;
        font-size: 18px;
    }

    .col-md-3.col-lg-9.col-sm-6 {
        width: 100%;
        margin-left: 127px;
    }

    .logos5 {
        width: 30%;
        margin-left: 345px;
        margin-top: -512px;
    }

    .logos4 {
        width: 30%;
        /* margin-left: -25px; */
        margin-top: -61px;
    }

    .intro-header1{
        margin-top: 70px;
    }

}

@media (max-width: 492px) {

    .intro-lead-in {
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 18px;
        /*line-height: 42px;*/
        /*margin-bottom: 55px;*/
    }

    div.col-md-12.intro-heading {
        font-size: 20px;
        margin-left: 0px;
        width: 100%;
    }

    .section-heading {
        margin-bottom: 30px;
        /* margin-left: 25%; */
        /* font-size: 50px; */
        /* text-transform: capitalize; */
        /* margin-top: 70px; */
        /* margin-bottom: 50px; */
        margin-left: 50px;
    }

    .logo1 {
        width: 120px;
        height: 90px;
        margin-top: 20px;
    }

    .lead2 {
        font-size: 18px;
        color: black;
        text-align: justify;
        margin-left: 35%;
        margin-top: -100px;
    }

    .lead3 {
        font-size: 18px;
        color: black;
        text-align: justify;
        margin-left: 35%;
        margin-top: -100px;
    }

    .lead4 {
        font-size: 18px;
        /* width: 15%; */
        margin-left: 35px;
        width: 60%;
        text-align: justify;
        margin-top: -89px;
    }

    .col-md-2.col-xs-3.col-sm-2.col-md-offset-2.col-xs-offset-2 {
        margin-left: 80px;
        width: 50px;
        margin-right: -3px;
    }

    .col-md-2.col-xs-3 {
        margin-right: -45px;
    }

    .col-sm-3.col-xs-6 {
        width: 104px;

    }

    .logos {
        height: 80px;
    }

    .logos1 {

    }

    .logos2 {
        height: 71px;
        margin-top: 17px;
    }

    .logos3 {
        height: 90px;
    }

    .col-md-6.col-xs-12.col-sm-6 {

    }

    .lead1 {
        margin-left: 15px;
        font-size: 18px;
    }

    .section-heading1 {
        width: 440px;
        margin-bottom: 30px;
        margin-left: 0px;
        font-size: 40px;
    }

    .paragraph2 {

    }

    .col-md-6.col-lg-2.col-sm-6 {

    }

    .test {

    }

    .navbar-default .navbar-brand {
        margin-left: 318px;
    }

    .col-md-3.col-lg-9.col-sm-6 {
        width: 100%;
        margin-left: 127px;
    }

    .logos5 {
           width: 28%;
    margin-left: 237px;
    margin-top: -818px;

    }

    .logos4 {
        width: 28%;
        /* margin-left: -25px; */
        margin-top: -65px;
    }

    .intro-header1{
            margin-top: 260px;
    }

}

/* Extra Small Devices, Phones */
@media (max-width: 480px) {

    .intro-lead-in {
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 18px;
        /*line-height: 42px;*/
        /*margin-bottom: 55px;*/
    }

    div.col-md-12.intro-heading {
        font-size: 20px;
        margin-left: -20px;
        width: 120%;
    }

    .section-heading {
        margin-bottom: 30px;
        margin-left: 25%;
        font-size: 50px;
        text-transform: capitalize;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .logo1 {
        width: 180px;
        height: 150px;
        margin-top: 20px;
    }

    .lead2 {
        font-size: 22px;
        color: black;
        text-align: justify;
    }

    .lead3 {

    }

    .lead4 {

    }

    .col-md-2.col-xs-3.col-sm-2.col-md-offset-2.col-xs-offset-2 {

    }

    .col-md-2.col-xs-3 {

    }

    .col-sm-3.col-xs-6 {

    }

    .logos {
        height: 100px;
    }

    .logos1 {

    }

    .logos2 {

    }

    .logos3 {

    }

    .col-md-6.col-xs-12.col-sm-6 {

    }

    .lead1 {

    }

    .lead4 {

    }

    .section-heading1 {

    }

    .paragraph2 {

    }

    .col-md-6.col-lg-2.col-sm-6 {

    }

    .test {

    }

    .navbar-default .navbar-brand {

    }

    .col-lg-2 {

    }

    .intro-header1{

    }

}

@media (max-width: 435px) {

    .intro-lead-in {
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 18px;
        /*line-height: 42px;*/
        /*margin-bottom: 55px;*/
    }

    div.col-md-12.intro-heading {

    }

    .section-heading {
        margin-bottom: 30px;
        margin-left: 25%;
        font-size: 50px;
        text-transform: capitalize;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .logo1 {
        width: 180px;
        height: 150px;
        margin-top: 20px;
    }

    .lead2 {
        font-size: 22px;
        color: black;
        text-align: justify;
    }

    .lead3 {

    }

    .lead4 {

    }

    .col-md-2.col-xs-3.col-sm-2.col-md-offset-2.col-xs-offset-2 {

    }

    .col-md-2.col-xs-3 {
        margin-right: -35px;
    }

    .col-sm-3.col-xs-6 {
        width: 165px;
    margin-bottom: 20px;
    }

    .logos {
        height: 100px;
    }

    .logos1 {

    }

    .logos2 {

    }

    .logos3 {

    }

    .col-md-6.col-xs-12.col-sm-6 {

    }

    .lead1 {

    }

    .section-heading1 {

    }

    .paragraph2 {

    }

    .col-md-6.col-lg-2.col-sm-6 {

    }

    .test {

    }

    .navbar-default .navbar-brand {

    }

    .col-lg-2 {

    }

    .intro-header1{

    }

}

@media (max-width: 415px) {

    .intro-lead-in {
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 18px;
        /*line-height: 42px;*/
        /*margin-bottom: 55px;*/
    }

    div.col-md-12.intro-heading {
            width: 96%;
    margin-left: 0px;

    }

    .section-heading {
        margin-bottom: 30px;
        margin-left: 25%;
        font-size: 50px;
        text-transform: capitalize;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .logo1 {
            width: 95px;
    height: 89px;
    margin-top: 20px;
    }

    .lead2 {
        font-size: 22px;
        color: black;
        text-align: justify;
    }

    .lead3 {
            font-size: 22px;
    color: black;
    text-align: justify;

    }

    .lead4 {
        width: 184px;
    margin-bottom: 20px;
    }

    .col-md-2.col-xs-3.col-sm-2.col-md-offset-2.col-xs-offset-2 {
            margin-left: 21px;
    margin-right: 15px;
    }

    .col-md-2.col-xs-3 {
            margin-right: -14px;
    }

    .img-responsive.col-sm-3.col-xs-6 {
        width: 125px;
        margin-bottom: 20px;
    }

    .logos {
        height: 100px;
    }

    .logos1 {

    }

    .logos2 {

    }

    .logos3 {

    }

    .col-md-6.col-xs-12.col-sm-6 {

    }

    .lead1 {

    }

    .section-heading1 {
            width: 103%;
    }

    .paragraph2 {

    }

    .col-md-6.col-lg-2.col-sm-6 {

    }

    .test {

    }

    .navbar-default .navbar-brand {

    }

    .col-lg-2 {

    }

    .intro-header1{

    }

}

@media only screen and (max-width: 360px) {

    .intro-lead-in {
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 18px;
        /*line-height: 42px;*/
        /*margin-bottom: 55px;*/
    }

    div.col-md-12.intro-heading {
        margin-left: 0px;
        width: 100%;
    }

    .section-heading {
        margin-bottom: 30px;
        margin-left: 0px;
        font-size: 40px;
        WIDTH: 120%;
        text-transform: capitalize;
    }

    .logo1 {
        width: 80px;
        height: 70px;
        margin-top: 20px;
    }

    .lead2 {
        font-size: 18px;
        color: black;
        text-align: justify;
        margin-left: 40%;
        /* margin-bottom: 5px; */
        margin-top: -80px;
        width: 75%;
    }

    .lead3 {
        font-size: 18px;
        color: black;
        text-align: justify;
        margin-left: 40%;
        /* margin-bottom: 5px; */
        margin-top: -80px;
        width: 75%;
    }

    .lead4 {
        font-size: 18px;
        /* width: 15%; */
        margin-left: 30px;
        width: 60%;
        text-align: justify;
        margin-top: -89px;
    }

    .col-md-2.col-xs-3.col-sm-2.col-md-offset-2.col-xs-offset-2 {
            margin-left: 0px;
    margin-right: 21px;
    }

    .col-md-2.col-xs-3 {
            margin-right: -3px;
    }

    .img-responsive.col-sm-3.col-xs-6 {
        width: 50px;
    }

    .logos {
        height: 100px;
    }

    .logos1 {

    }

    .logos2 {

    }

    .logos3 {
        height: 100px;
    }

    .col-md-6.col-xs-12.col-sm-6 {
        width: 280px;
    }

    .lead1 {
        font-size: 18px;
        margin-left: 15px;
    }

    .section-heading1 {
        width: 280px;
        margin-bottom: 30px;
        margin-left: 0px;
        font-size: 40px;
    }

    .paragraph2 {

    }

    .col-md-6.col-lg-2.col-sm-6 {

    }

    .test {

    }

    .navbar-default .navbar-brand {
        margin-left: 195px;
    }

    .col-lg-2 {
        /*width: 40%;*/
        /*margin-left: 160px;*/
    }

    .col-md-2 {
        /*width: 50%;*/
        /*margin-left: -10px;*/
    }

    .col-md-3.col-lg-9.col-sm-6 {
        width: 112%;
        margin-left: 70px;
        /*margin-bottom: -45px;*/
    }

    .img-responsive.logos5 {
        /*margin-left: 10px;*/
        /*margin-top: -1090%;*/
        /*width: 100px;*/
    }

    .logos5 {
        width: 42%;
        margin-left: 175px;
        margin-top: -1162px;
    }

    .logos4 {
        width: 42%;
        margin-left: -25px;
        margin-top: -65px;
    }

    .test1 {

    }

    .intro-header1{
             margin-top: 380px;
    }

}

/* Custom, iPhone Retina */
@media (max-width: 320px) {

    .intro-lead-in {
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 18px;
        /*line-height: 42px;*/
        /*margin-bottom: 55px;*/
    }

    div.col-md-12.intro-heading {
        font-size: 20px;
        margin-left: -20px;
        width: 120%;
    }

    .section-heading {

    }

    .logo1 {
            width: 82px;
    height: 70px;
    margin-top: 20px;
    }

    .lead2 {
        font-size: 22px;
        color: black;
        text-align: justify;
    }

    .lead3 {
        font-size: 18px;
        color: black;
        text-align: justify;
        margin-left: 40%;
        /* margin-bottom: 5px; */
        margin-top: -80px;
        width: 75%;
    }

    .lead4 {

    }

    .col-md-2.col-xs-3.col-sm-2.col-md-offset-2.col-xs-offset-2 {

    }

    .col-md-2.col-xs-3 {

    }

    .col-sm-3.col-xs-6 {
        width: 50%;
    }

    .logos {
        height: 100px;
    }

    .logos1 {

    }

    .logos2 {

    }

    .logos3 {

    }

    .col-md-6.col-xs-12.col-sm-6 {

    }

    .lead1 {

    }

    .section-heading1 {

    }

    .paragraph2 {

    }

    .col-md-6.col-lg-2.col-sm-6 {

    }

    .test {

    }

    .navbar-default .navbar-brand {

    }

    .col-lg-2 {

    }

    .intro-header1{

    }

}