<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bangladesh Peace Oservatory</title>
    <!-- Facebook meta -->
    <meta property="og:title" content="Bangladesh Peace Oservatory"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image"
          content="{{ url_for('static', filename='assets/bpo_facebook.png', _external = true) }}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:description"
          content="Designing effective responses to public policy challenges is heavily dependent on evidence. Evidence is dependent on good data."/>
    <!-- Twitter meta -->
    <meta name="twitter:title" content="Bangladesh Peace Oservatory">
    <meta name="twitter:description"
          content="Designing effective responses to public policy challenges is heavily dependent on evidence. Evidence is dependent on good data.">
    <meta name="twitter:image" content="{{ url_for('static', filename='assets/bpo.png', _external = true) }}"/>

    <!--Fonts -->
    <link href='//fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:600,400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel='stylesheet'
          type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!--CSS-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" type="text/css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="//code.highcharts.com/stock/highstock.js"></script>
    <!--<script src="{{ url_for('static', filename='js/highcharts/highstock.min.js') }}"></script>-->
    <script src="//code.highcharts.com/modules/exporting.js"></script>
    <script src="//code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="{{ url_for('static', filename='js/highcharts/export-csv.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highcharts/map-module.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highcharts/bd-all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highcharts/map-drilldown-module.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/geo-files/divisions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/geo-files/upazillas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/agency.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/download-feature.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bpo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/papaparse.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.0/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
</head>

{% block header %}
<!-- Navigation -->
<div id="header">
    <nav id="mainNav" class="navbar navbar-fixed-top">
        <div class="nav-container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <a href="{{ url_for('viz.index') }}" class=" btn btn-xl enter-landing">Enter the Observatory</a>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <div class="row header">
        <div class="container">
            <div class="intro-text">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="intro-lead-in">Bangladesh Peace Observatory</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <hr style="width:40%; margin-left: 29% !important;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="intro-lead-in1">Advancing understanding of peace and tolerance
                            through data insights
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <p class="project-by">Hosted by the Centre for Genocide Studies, University of Dhaka.
                    </div>
                </div>
                <div class="row">
                    <div class="hosted-by">
                    </div>
                </div>
                <i class="fa fa-angle-down arrow"></i>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
<!-- Footer -->
<footer class="bg-dark-blue">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 ">
                        <h4 class="footer-disclaimer-title">Disclaimer:</h4>
                        <p class="footer-disclaimer-text">Data are open source and based on limited review of print and
                            online media in Bangladesh. There may be errors in data collection, validation and/or
                            reporting.
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <h3 class="intro-footer-one text-center">Hosted by Center for Genocide Studies, University of
                            Dhaka.</h3>
                        <br>
                        <img src="{{ url_for('static', filename='assets/logoo.png') }}" alt="" height="62"
                             width="50"
                             class="img-responsive center-block"><br/>
                        <p class="footer-supported-by text-center">Supported by UNDP</p>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <h4 class="find-us-on-social">Find us on Social Networks:</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-1 col-md-offset-1 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
                                <a class="btn social-login-btn social-twitter"
                                   href="https://www.facebook.com/genocide.du/?fref=ts"><i
                                        class="fa fa-twitter"></i></a>
                            </div>
                            <div class="col-md-1 col-md-offset-1  col-sm-2 col-xs-2">
                                <a class="btn social-login-btn social-facebook"
                                   href="https://www.facebook.com/genocide.du/?fref=ts"><i
                                        class="fa fa-facebook"></i></a>
                            </div>
                            <div class="col-md-1 col-md-offset-1 col-sm-2 col-xs-2">
                                <a class="btn social-login-btn social-pinterest"
                                   href="https://www.facebook.com/genocide.du/?fref=ts"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                            <div class="col-md-1 col-md-offset-1 col-sm-2 col-xs-2">
                                <a class="btn social-login-btn social-google" href="mailto:info.cgs.bd@gmail.com"><i
                                        class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="copyright-text col-md-12 col-sm-12 col-xs-12 text-center">
                    Copyright 2016. Centre for Genocide Studies, University of Dhaka.
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
</div>
</body>
</html>